In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../notion_data/KOSPI200.csv')

In [6]:
df['변동 %'].isna().sum()

0

In [8]:
df = pd.read_csv('../data/소비자물가지수.csv', encoding='cp949')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Columns: 103 entries, 시도별 to 2023.06
dtypes: float64(102), object(1)
memory usage: 956.0+ bytes

In [10]:
df.head()

,시도별,2015.01,2015.02,2015.03,2015.04,2015.05,2015.06,2015.07,2015.08,2015.09,...,2022.09,2022.10,2022.11,2022.12,2023.01,2023.02,2023.03,2023.04,2023.05,2023.06
0,전국,94.643,94.587,94.596,94.625,94.89,94.909,95.08,95.213,94.966,...,108.82,109.16,109.07,109.26,110.07,110.33,110.52,110.77,111.13,111.16

In [12]:
# melt로 날짜를 행으로 변환
df_melted = pd.melt(df, id_vars=["시도별"], var_name="날짜", value_name="CPI")

# '시도별' 열이 '전국' 하나뿐이라면, 해당 열 제거
df_cleaned = df_melted.drop(columns=["시도별"])

# 날짜 형식 정리 (선택 사항)
df_cleaned["날짜"] = pd.to_datetime(df_cleaned["날짜"], format="%Y.%m")

# 정렬 (옵션)
df_cleaned = df_cleaned.sort_values("날짜").reset_index(drop=True)

df_cleaned.head()

          날짜     CPI
0 2015-01-01  94.643
1 2015-02-01  94.587
2 2015-03-01  94.596
3 2015-04-01  94.625
4 2015-05-01  94.890

In [15]:
df_cleaned.to_csv('소비자물가지수.csv')