In [ ]:
import pandas as pd

c:\Users\Ph.D.Huh\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [36]:
import pandas as pd

df = pd.read_excel('CSI.xlsx')
print(df.head())
print(df.columns)

  Unnamed: 0  201501월  201502월  201503월  201504월  201505월  201506월  201507월  \
0    소비자심리지수    103.1    103.8    102.0    104.8    106.2     98.8    100.8

   201508월  201509월  ...  202403월  202404월  202405월  202406월  202407월  \
0    102.2    103.4  ...    100.7    100.7     98.4    100.9    103.6

   202408월  202409월  202410월  202411월  202412월
0    100.8    100.0    101.8    100.7     88.2

[1 rows x 121 columns]
Index(['Unnamed: 0', '201501월', '201502월', '201503월', '201504월', '201505월',
       '201506월', '201507월', '201508월', '201509월',
       ...
       '202403월', '202404월', '202405월', '202406월', '202407월', '202408월',
       '202409월', '202410월', '202411월', '202412월'],
      dtype='object', length=121)

In [9]:
df.head()

,Unnamed: 0,201501월,201502월,201503월,201504월,201505월,201506월,201507월,201508월,201509월,...,202403월,202404월,202405월,202406월,202407월,202408월,202409월,202410월,202411월,202412월
0,소비자심리지수,103.1,103.8,102.0,104.8,106.2,98.8,100.8,102.2,103.4,...,100.7,100.7,98.4,100.9,103.6,100.8,100.0,101.8,100.7,88.2

In [37]:
import pandas as pd

# 1. 엑셀 파일 불러오기
df = pd.read_excel('CSI.xlsx')

# 2. 첫 번째 행 (0번)을 Series로 추출 (소비자심리지수 값)
values = df.iloc[0, 1:]

# 3. 첫 번째 행의 열 이름 (1번째 열부터: 날짜들)
dates = df.columns[1:]

# 4. DataFrame으로 만들기
result = pd.DataFrame({
    '날짜': dates,
    '소비자심리지수': values.values
})

# 5. '날짜'를 인덱스로 설정하고, 값은 숫자형으로 변환
result.set_index('날짜', inplace=True)
result['소비자심리지수'] = pd.to_numeric(result['소비자심리지수'], errors='coerce')

# 6. 확인
print(result.head())

         소비자심리지수
날짜
201501월    103.1
201502월    103.8
201503월    102.0
201504월    104.8
201505월    106.2

In [38]:
# '월' 글자 제거
result.index = result.index.str.replace('월', '')

# datetime 변환 (format='%Y%m')
result.index = pd.to_datetime(result.index, format='%Y%m')

print(result.head())

            소비자심리지수
날짜
2015-01-01    103.1
2015-02-01    103.8
2015-03-01    102.0
2015-04-01    104.8
2015-05-01    106.2

In [40]:
result.to_csv('CSI.csv')