## 기업 데이터에 추가 데이터 붙이기

In [221]:
import pandas as pd

gi = pd.read_csv('../data/gi.csv')

In [222]:
gi = gi.iloc[:,1:]

In [223]:
gi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 533 entries, 0 to 532
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   회사명         533 non-null    object
 1   stock_code  533 non-null    int64
 2   상장일         533 non-null    object
dtypes: int64(1), object(2)
memory usage: 12.6+ KB

In [224]:
gi

          회사명  stock_code         상장일
0       바이오노트      377740  2022-12-22
1          쏘카      403550  2022-08-22
2     수산인더스트리      126720  2022-08-01
3    LG에너지솔루션      373220  2022-01-27
4       카카오페이      377300  2021-11-03
..        ...         ...         ...
528      싸이맥스      160980  2015-06-17
529     픽셀플러스       87600  2015-06-12
530     제노포커스      187420  2015-05-29
531      유지인트      195990  2015-04-13
532      포시에스      189690  2015-02-11

[533 rows x 3 columns]

In [225]:
# 1) KOSPI200 데이터 읽기 & 수익률 계산
ko200 = pd.read_csv('../notion_data/KOSPI200.csv', parse_dates=['날짜'])
ko200 = ko200.sort_values('날짜').reset_index(drop=True)
ko200['kospi200(-20)'] = ko200['종가'].shift(1) / ko200['종가'].shift(20) - 1

# 2) gi 데이터 읽기
gi = pd.read_csv('../data/gi.csv', parse_dates=['상장일'])
gi = gi.sort_values('상장일').reset_index(drop=True)

# 3) asof merge 로 상장일 기준 최근 거래일의 kospi200(-20) 가져오기
merged = pd.merge_asof(
    gi,
    ko200[['날짜', 'kospi200(-20)']].sort_values('날짜'),
    left_on='상장일',
    right_on='날짜',
    direction='backward'   # 상장일 당일 또는 그 이전의 가장 가까운 거래일
).drop(columns=['날짜'])

# 4) 결과 확인
print(merged.head())

   Unnamed: 0     회사명  stock_code        상장일  kospi200(-20)
0         532    포시에스      189690 2015-02-11      -0.053391
1          68  세화아이엠씨      145210 2015-03-19       0.049828
2          67   엔에스쇼핑      138250 2015-03-27       0.058506
3         531    유지인트      195990 2015-04-13      -0.016436
4         530   제노포커스      187420 2015-05-29       0.028846

In [226]:
nasdaq = pd.read_csv('../notion_data/Nasdaq.csv', parse_dates=['Price'])
nasdaq = nasdaq.sort_values('Price').reset_index(drop=True)
nasdaq['nasdaq(-20)'] = nasdaq['Close'].shift(1) / nasdaq['Close'].shift(20) - 1

merged = pd.merge_asof(
    merged,
    nasdaq[['Price', 'nasdaq(-20)']].sort_values('Price'),
    left_on='상장일',
    right_on='Price',
    direction='backward'   # 상장일 당일 또는 그 이전의 가장 가까운 거래일
).drop(columns=['Price'])

# 4) 결과 확인
print(merged.head())

   Unnamed: 0     회사명  stock_code        상장일  kospi200(-20)  nasdaq(-20)
0         532    포시에스      189690 2015-02-11      -0.053391     0.027060
1          68  세화아이엠씨      145210 2015-03-19       0.049828     0.011804
2          67   엔에스쇼핑      138250 2015-03-27       0.058506    -0.020181
3         531    유지인트      195990 2015-04-13      -0.016436     0.025498
4         530   제노포커스      187420 2015-05-29       0.028846     0.031683

In [227]:

putcall = pd.read_csv('../notion_data/PutCall_ratio.csv',encoding='cp949',parse_dates=['일자'])
putcall = putcall.sort_values('일자').reset_index(drop=True)
putcall['putcall(-20)'] = putcall['P/C Ratio'].shift(1) / putcall['P/C Ratio'].shift(20) - 1

merged = pd.merge_asof(
    merged,
    putcall[['일자', 'putcall(-20)']].sort_values('일자'),
    left_on='상장일',
    right_on='일자',
    direction='backward'   # 상장일 당일 또는 그 이전의 가장 가까운 거래일
).drop(columns=['일자'])

# 4) 결과 확인
print(merged.head())

   Unnamed: 0     회사명  stock_code        상장일  kospi200(-20)  nasdaq(-20)  \
0         532    포시에스      189690 2015-02-11      -0.053391     0.027060
1          68  세화아이엠씨      145210 2015-03-19       0.049828     0.011804
2          67   엔에스쇼핑      138250 2015-03-27       0.058506    -0.020181
3         531    유지인트      195990 2015-04-13      -0.016436     0.025498
4         530   제노포커스      187420 2015-05-29       0.028846     0.031683

   putcall(-20)
0      0.056075
1     -0.338983
2     -0.042553
3     -0.070707
4      0.324324

In [228]:
vixcls = pd.read_csv('../notion_data/VIXCLS(미국).csv')
vixcls = vixcls.sort_values('observation_date').reset_index(drop=True)

# 1) Convert both columns to datetime
merged['상장일'] = pd.to_datetime(merged['상장일'])
vixcls['observation_date'] = pd.to_datetime(vixcls['observation_date'])

# 2) Sort both DataFrames by their date keys
merged = merged.sort_values('상장일').reset_index(drop=True)
vixcls = vixcls.sort_values('observation_date').reset_index(drop=True)

# 3) Perform the merge_asof
merged = pd.merge_asof(
    merged,
    vixcls[['observation_date', 'VIXCLS']],
    left_on='상장일',
    right_on='observation_date',
    direction='backward'
).drop(columns=['observation_date'])

print(merged.head())

   Unnamed: 0     회사명  stock_code        상장일  kospi200(-20)  nasdaq(-20)  \
0         532    포시에스      189690 2015-02-11      -0.053391     0.027060
1          68  세화아이엠씨      145210 2015-03-19       0.049828     0.011804
2          67   엔에스쇼핑      138250 2015-03-27       0.058506    -0.020181
3         531    유지인트      195990 2015-04-13      -0.016436     0.025498
4         530   제노포커스      187420 2015-05-29       0.028846     0.031683

   putcall(-20)  VIXCLS
0      0.056075   16.96
1     -0.338983   14.07
2     -0.042553   15.07
3     -0.070707   13.94
4      0.324324   13.84

In [229]:
us10 = pd.read_csv('../notion_data/미국10년물국채금리채권수익률.csv')
us10 = us10.sort_values('날짜').reset_index(drop=True)
us10['미국10년물국채금리수익률(-20)'] = us10['종가'].shift(1) / us10['종가'].shift(20) - 1

# 1) Convert both columns to datetime
merged['상장일'] = pd.to_datetime(merged['상장일'])
us10['날짜'] = pd.to_datetime(us10['날짜'])

# 2) Sort both DataFrames by their date keys
merged = merged.sort_values('상장일').reset_index(drop=True)
us10 = us10.sort_values('날짜').reset_index(drop=True)

merged = pd.merge_asof(
    merged,
    us10[['날짜', '미국10년물국채금리수익률(-20)']].sort_values('날짜'),
    left_on='상장일',
    right_on='날짜',
    direction='backward'   # 상장일 당일 또는 그 이전의 가장 가까운 거래일
).drop(columns=['날짜'])

# 4) 결과 확인
print(merged.head())

   Unnamed: 0     회사명  stock_code        상장일  kospi200(-20)  nasdaq(-20)  \
0         532    포시에스      189690 2015-02-11      -0.053391     0.027060
1          68  세화아이엠씨      145210 2015-03-19       0.049828     0.011804
2          67   엔에스쇼핑      138250 2015-03-27       0.058506    -0.020181
3         531    유지인트      195990 2015-04-13      -0.016436     0.025498
4         530   제노포커스      187420 2015-05-29       0.028846     0.031683

   putcall(-20)  VIXCLS  미국10년물국채금리수익률(-20)
0      0.056075   16.96            0.080323
1     -0.338983   14.07           -0.096136
2     -0.042553   15.07            0.000000
3     -0.070707   13.94           -0.060270
4      0.324324   13.84            0.010890

In [230]:
market_d1 = pd.read_csv('../notion_data/시장금리국고채3년(일별).csv',parse_dates=['변환'])
market_d1 = market_d1.sort_values('변환').reset_index(drop=True)

# 1) Convert both columns to datetime
merged['상장일'] = pd.to_datetime(merged['상장일'])
market_d1['변환'] = pd.to_datetime(market_d1['변환'])

# 2) Sort both DataFrames by their date keys
merged = merged.sort_values('상장일').reset_index(drop=True)
market_d1 = market_d1.sort_values('변환').reset_index(drop=True)

# 3) Perform the merge_asof
merged = pd.merge_asof(
    merged,
    market_d1[['변환', '원자료']],
    left_on='상장일',
    right_on='변환',
    direction='backward'
).drop(columns=['변환'])

merged.rename(columns={'원자료':'시장금리국고채3년'},inplace=True)
print(merged.head())

   Unnamed: 0     회사명  stock_code        상장일  kospi200(-20)  nasdaq(-20)  \
0         532    포시에스      189690 2015-02-11      -0.053391     0.027060
1          68  세화아이엠씨      145210 2015-03-19       0.049828     0.011804
2          67   엔에스쇼핑      138250 2015-03-27       0.058506    -0.020181
3         531    유지인트      195990 2015-04-13      -0.016436     0.025498
4         530   제노포커스      187420 2015-05-29       0.028846     0.031683

   putcall(-20)  VIXCLS  미국10년물국채금리수익률(-20)  시장금리국고채3년
0      0.056075   16.96            0.080323      2.051
1     -0.338983   14.07           -0.096136      1.825
2     -0.042553   15.07            0.000000      1.770
3     -0.070707   13.94           -0.060270      1.732
4      0.324324   13.84            0.010890      1.745

In [231]:
ghksdbf = pd.read_csv('../notion_data/주요국통화.csv',parse_dates=['변환'])
ghksdbf = ghksdbf.sort_values('변환').reset_index(drop=True)
# remove commas (using regex=False for literal replace) and convert to float
ghksdbf['원자료'] = (
    ghksdbf['원자료']
    .str.replace(',', '', regex=False)
    .astype(float)
)
ghksdbf['환율변동률(-20)'] = ghksdbf['원자료'].shift(1) / ghksdbf['원자료'].shift(20) - 1


# 1) Convert both columns to datetime
merged['상장일'] = pd.to_datetime(merged['상장일'])
ghksdbf['변환'] = pd.to_datetime(ghksdbf['변환'])

# 2) Sort both DataFrames by their date keys
merged = merged.sort_values('상장일').reset_index(drop=True)
ghksdbf = ghksdbf.sort_values('변환').reset_index(drop=True)

merged = pd.merge_asof(
    merged,
    ghksdbf[['변환', '환율변동률(-20)']].sort_values('변환'),
    left_on='상장일',
    right_on='변환',
    direction='backward'   # 상장일 당일 또는 그 이전의 가장 가까운 거래일
).drop(columns=['변환'])

# merged.rename(columns={'원자료':'시장금리국고채3년'},inplace=True)
# 4) 결과 확인
print(merged.head())

   Unnamed: 0     회사명  stock_code        상장일  kospi200(-20)  nasdaq(-20)  \
0         532    포시에스      189690 2015-02-11      -0.053391     0.027060
1          68  세화아이엠씨      145210 2015-03-19       0.049828     0.011804
2          67   엔에스쇼핑      138250 2015-03-27       0.058506    -0.020181
3         531    유지인트      195990 2015-04-13      -0.016436     0.025498
4         530   제노포커스      187420 2015-05-29       0.028846     0.031683

   putcall(-20)  VIXCLS  미국10년물국채금리수익률(-20)  시장금리국고채3년  환율변동률(-20)
0      0.056075   16.96            0.080323      2.051    0.014332
1     -0.338983   14.07           -0.096136      1.825    0.028860
2     -0.042553   15.07            0.000000      1.770    0.003184
3     -0.070707   13.94           -0.060270      1.732   -0.028163
4      0.324324   13.84            0.010890      1.745    0.030247

In [232]:
kospi = pd.read_csv('../notion_data/코스피지수.csv',parse_dates=['변환'])
kospi = kospi.sort_values('변환').reset_index(drop=True)
# remove commas (using regex=False for literal replace) and convert to float
kospi['원자료'] = (
    kospi['원자료']
    .str.replace(',', '', regex=False)
    .astype(float)
)
kospi['코스피변동률(-20)'] = kospi['원자료'].shift(1) / kospi['원자료'].shift(20) - 1


# 1) Convert both columns to datetime
merged['상장일'] = pd.to_datetime(merged['상장일'])
kospi['변환'] = pd.to_datetime(kospi['변환'])

# 2) Sort both DataFrames by their date keys
merged = merged.sort_values('상장일').reset_index(drop=True)
kospi = kospi.sort_values('변환').reset_index(drop=True)

merged = pd.merge_asof(
    merged,
    kospi[['변환', '코스피변동률(-20)']].sort_values('변환'),
    left_on='상장일',
    right_on='변환',
    direction='backward'   # 상장일 당일 또는 그 이전의 가장 가까운 거래일
).drop(columns=['변환'])

# 4) 결과 확인
print(merged.head())

   Unnamed: 0     회사명  stock_code        상장일  kospi200(-20)  nasdaq(-20)  \
0         532    포시에스      189690 2015-02-11      -0.053391     0.027060
1          68  세화아이엠씨      145210 2015-03-19       0.049828     0.011804
2          67   엔에스쇼핑      138250 2015-03-27       0.058506    -0.020181
3         531    유지인트      195990 2015-04-13      -0.016436     0.025498
4         530   제노포커스      187420 2015-05-29       0.028846     0.031683

   putcall(-20)  VIXCLS  미국10년물국채금리수익률(-20)  시장금리국고채3년  환율변동률(-20)  \
0      0.056075   16.96            0.080323      2.051    0.014332
1     -0.338983   14.07           -0.096136      1.825    0.028860
2     -0.042553   15.07            0.000000      1.770    0.003184
3     -0.070707   13.94           -0.060270      1.732   -0.028163
4      0.324324   13.84            0.010890      1.745    0.030247

   코스피변동률(-20)
0     0.011601
1     0.035859
2     0.018511
3     0.050535
4    -0.017126

In [233]:
kosdaq = pd.read_csv('../notion_data/코스닥지수.csv',parse_dates=['변환'])
kosdaq = kosdaq.sort_values('변환').reset_index(drop=True)
# remove commas (using regex=False for literal replace) and convert to float
kosdaq['원자료'] = (
    kosdaq['원자료']
    .str.replace(',', '', regex=False)
    .astype(float)
)
kosdaq['코스닥변동률(-20)'] = kosdaq['원자료'].shift(1) / kosdaq['원자료'].shift(20) - 1


# 1) Convert both columns to datetime
merged['상장일'] = pd.to_datetime(merged['상장일'])
kosdaq['변환'] = pd.to_datetime(kosdaq['변환'])

# 2) Sort both DataFrames by their date keys
merged = merged.sort_values('상장일').reset_index(drop=True)
kosdaq = kosdaq.sort_values('변환').reset_index(drop=True)

merged = pd.merge_asof(
    merged,
    kosdaq[['변환', '코스닥변동률(-20)']].sort_values('변환'),
    left_on='상장일',
    right_on='변환',
    direction='backward'   # 상장일 당일 또는 그 이전의 가장 가까운 거래일
).drop(columns=['변환'])

# 4) 결과 확인
print(merged.head())

   Unnamed: 0     회사명  stock_code        상장일  kospi200(-20)  nasdaq(-20)  \
0         532    포시에스      189690 2015-02-11      -0.053391     0.027060
1          68  세화아이엠씨      145210 2015-03-19       0.049828     0.011804
2          67   엔에스쇼핑      138250 2015-03-27       0.058506    -0.020181
3         531    유지인트      195990 2015-04-13      -0.016436     0.025498
4         530   제노포커스      187420 2015-05-29       0.028846     0.031683

   putcall(-20)  VIXCLS  미국10년물국채금리수익률(-20)  시장금리국고채3년  환율변동률(-20)  \
0      0.056075   16.96            0.080323      2.051    0.014332
1     -0.338983   14.07           -0.096136      1.825    0.028860
2     -0.042553   15.07            0.000000      1.770    0.003184
3     -0.070707   13.94           -0.060270      1.732   -0.028163
4      0.324324   13.84            0.010890      1.745    0.030247

   코스피변동률(-20)  코스닥변동률(-20)
0     0.011601     0.032708
1     0.035859     0.030861
2     0.018511     0.028772
3     0.050535     0.073371
4    -0.017126     0.017538

## 외국인순매수, 원자재변동률 투자자별주식거래 추가해야 됨. (feat. 결측치 처리도 해야됨)

In [234]:
merged.isnull().sum()

Unnamed: 0             0
회사명                    0
stock_code             0
상장일                    0
kospi200(-20)          0
nasdaq(-20)            0
putcall(-20)           0
VIXCLS                10
미국10년물국채금리수익률(-20)     0
시장금리국고채3년              0
환율변동률(-20)             0
코스피변동률(-20)            1
코스닥변동률(-20)            0
dtype: int64

In [235]:
merged.head()

,Unnamed: 0,회사명,stock_code,상장일,kospi200(-20),nasdaq(-20),putcall(-20),VIXCLS,미국10년물국채금리수익률(-20),시장금리국고채3년,환율변동률(-20),코스피변동률(-20),코스닥변동률(-20)
0,532,포시에스,189690,2015-02-11,-0.053391,0.027060,0.056075,16.96,0.080323,2.051,0.014332,0.011601,0.032708
1,68,세화아이엠씨,145210,2015-03-19,0.049828,0.011804,-0.338983,14.07,-0.096136,1.825,0.028860,0.035859,0.030861
2,67,엔에스쇼핑,138250,2015-03-27,0.058506,-0.020181,-0.042553,15.07,0.000000,1.770,0.003184,0.018511,0.028772
3,531,유지인트,195990,2015-04-13,-0.016436,0.025498,-0.070707,13.94,-0.060270,1.732,-0.028163,0.050535,0.073371
4,530,제노포커스,187420,2015-05-29,0.028846,0.031683,0.324324,13.84,0.010890,1.745,0.030247,-0.017126,0.017538

In [236]:
merged[merged['회사명']=='안트로젠']

,Unnamed: 0,회사명,stock_code,상장일,kospi200(-20),nasdaq(-20),putcall(-20),VIXCLS,미국10년물국채금리수익률(-20),시장금리국고채3년,환율변동률(-20),코스피변동률(-20),코스닥변동률(-20)
67,481,안트로젠,65660,2016-02-15,0.300277,-0.075441,-0.145455,NaN,-0.14621,1.484,-0.009516,-0.042269,-0.113085

In [237]:
merged[merged['VIXCLS'].isna()]
#25.40
merged.loc[merged['회사명']=='안트로젠','VIXCLS']=25.40
#14.77
merged.loc[merged['회사명']=='피앤씨테크','VIXCLS']=14.77
#13.22
merged.loc[merged['회사명']=='제노레이','VIXCLS']=13.22
#20.80
merged.loc[merged['회사명']=='디알젬','VIXCLS']=20.80
#20.80
merged.loc[merged['회사명']=='싸이토젠','VIXCLS']=20.80
#20.74
merged.loc[merged['회사명']=='에코캡','VIXCLS']=20.74
#12.57
merged.loc[merged['회사명']=='펌텍코리아','VIXCLS']=12.57
#27.68
merged.loc[merged['회사명']=='위더스제약','VIXCLS']=27.68
#21.25
merged.loc[merged['회사명']=='제일전기공업','VIXCLS']=21.25
#27.75
merged.loc[merged['회사명']=='바이오에프디엔씨','VIXCLS']=27.75

In [238]:
merged[merged['코스피변동률(-20)'].isna()]
#0.008700
merged.loc[merged['회사명']=='포시에스','코스피변동률(-20)']=0.008700
#-0.063727
merged.loc[merged['회사명']=='핑거','코스피변동률(-20)']=-0.063727

In [239]:
merged[merged['코스닥변동률(-20)'].isna()]
#0.042736
merged.loc[merged['회사명']=='핑거','코스닥변동률(-20)']=0.042736

In [240]:
merged.isnull().sum()

Unnamed: 0            0
회사명                   0
stock_code            0
상장일                   0
kospi200(-20)         0
nasdaq(-20)           0
putcall(-20)          0
VIXCLS                0
미국10년물국채금리수익률(-20)    0
시장금리국고채3년             0
환율변동률(-20)            0
코스피변동률(-20)           0
코스닥변동률(-20)           0
dtype: int64

## ipo 데이터 병합하기

In [241]:
ipo = pd.read_csv('../data/backup_final_ratio.csv')

In [242]:
ipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 657 entries, 0 to 656
Data columns (total 65 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   회사명_d1           657 non-null    object
 1   stock_code       657 non-null    int64
 2   업종               656 non-null    object
 3   상장주선인            657 non-null    object
 4   공모가 (원)          657 non-null    float64
 5   공모금액 (천원)        657 non-null    object
 6   최초상장주식수 (주)      657 non-null    object
 7   call             657 non-null    float64
 8   kospi            657 non-null    object
 9   modified_esi     657 non-null    float64
 10  6개월 확약           657 non-null    float64
 11  3개월 확약           657 non-null    float64
 12  1개월 확약           657 non-null    float64
 13  15일 확약           657 non-null    float64
 14  미확약              657 non-null    float64
 15  수요예측_최종값         657 non-null    float64
 16  회사명_bs           657 non-null    object
 17  corp_code        657 non-null    int64
 18  상장일              657 non-null    object
 19  업력               657 non-null    int64
 20  유동자산             657 non-null    int64
 21  유동부채             657 non-null    int64
 22  부채총계             657 non-null    int64
 23  자본금              657 non-null    int64
 24  자본총계             657 non-null    int64
 25  매출액              657 non-null    int64
 26  영업이익             657 non-null    int64
 27  당기순이익            657 non-null    int64
 28  TA               657 non-null    int64
 29  WC               657 non-null    int64
 30  log_TA           657 non-null    float64
 31  log_S            657 non-null    float64
 32  capital_deficit  657 non-null    int64
 33  wc_neg_dummy     657 non-null    int64
 34  ta_negative      657 non-null    int64
 35  current_ratio    657 non-null    float64
 36  wc_sales         644 non-null    float64
 37  wc_ta            657 non-null    float64
 38  cl_tl            657 non-null    float64
 39  de_ratio         640 non-null    float64
 40  equity_ratio     640 non-null    float64
 41  cs_te            640 non-null    float64
 42  debt_asset       657 non-null    float64
 43  op_margin        644 non-null    float64
 44  net_margin       644 non-null    float64
 45  roe              640 non-null    float64
 46  roe_sign_dummy   640 non-null    float64
 47  roe_nan          657 non-null    int64
 48  roa              657 non-null    float64
 49  oi_ta            657 non-null    float64
 50  ni_oi_ratio      657 non-null    float64
 51  asset_turnover   657 non-null    float64
 52  sales_equity     640 non-null    float64
 53  z_simplified     657 non-null    float64
 54  WICS_large       657 non-null    object
 55  우리사주조합           657 non-null    object
 56  기관투자자            657 non-null    object
 57  일반투자자            657 non-null    object
 58  target_1d        657 non-null    int64
 59  target_2d        657 non-null    int64
 60  target_7d        657 non-null    int64
 61  target_15d       657 non-null    int64
 62  target_1m        657 non-null    int64
 63  target_3m        657 non-null    int64
 64  target_6m        657 non-null    int64
dtypes: float64(29), int64(24), object(12)
memory usage: 333.8+ KB

In [243]:
# Option 1: get a list of column names
object_cols = ipo.select_dtypes(include=['object']).columns.tolist()
print(object_cols)

['회사명_d1', '업종', '상장주선인', '공모금액 (천원)', '최초상장주식수 (주)', 'kospi', '회사명_bs', '상장일', 'WICS_large', '우리사주조합', '기관투자자', '일반투자자']

In [244]:
cols = [
    '공모금액 (천원)',
    '최초상장주식수 (주)',
    'kospi',
    '우리사주조합',
    '기관투자자',
    '일반투자자'
]

In [245]:
# cols 리스트는 이미 정의되어 있다고 가정
# 1) 각 셀에 '-'인지 체크해서 Boolean DataFrame 생성
dash_mask = ipo[cols].eq('-')

# 2) 한 행이라도 True인(즉 '-'가 하나라도 있는) 행을 골라내는 mask
rows_with_dash = dash_mask.any(axis=1)

# 3) 실제로 해당 행들만 추출
ipo_with_dash = ipo[rows_with_dash]

# 4) 결과 확인
ipo_with_dash[cols]

       공모금액 (천원) 최초상장주식수 (주)     kospi 우리사주조합  기관투자자  일반투자자
4    435,000,000  58,025,720  2,891.35      -  75.00  25.00
22   113,741,798  27,674,406  3,143.09      -     75     25
34    57,600,000  11,200,000  2,153.24      -    3.8   96.2
81     9,000,000   5,625,900  2,429.67      -  75.00  25.00
83    20,150,000  10,803,960  2,435.93      -     75     25
..           ...         ...       ...    ...    ...    ...
472   19,800,000  11,718,545  2,108.22      -      0  100.0
480   25,420,000   3,232,600  2,089.62      -      0  100.0
516   16,800,000   6,782,000  2,472.37      -      0  100.0
566    7,410,000  22,421,004  2,036.65      -      0  100.0
606   32,250,000  16,787,750  1,890.67      -      0      -

[100 rows x 6 columns]

In [246]:
import numpy as np
import pandas as pd



ipo[cols] = (
    ipo[cols]
        .replace({',': ''}, regex=True)   # remove commas
        .replace('-', '0')       # swap '-' for the string '0'
        .astype(float)           # then cast the whole block to floats
)

In [247]:
ipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 657 entries, 0 to 656
Data columns (total 65 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   회사명_d1           657 non-null    object
 1   stock_code       657 non-null    int64
 2   업종               656 non-null    object
 3   상장주선인            657 non-null    object
 4   공모가 (원)          657 non-null    float64
 5   공모금액 (천원)        657 non-null    float64
 6   최초상장주식수 (주)      657 non-null    float64
 7   call             657 non-null    float64
 8   kospi            657 non-null    float64
 9   modified_esi     657 non-null    float64
 10  6개월 확약           657 non-null    float64
 11  3개월 확약           657 non-null    float64
 12  1개월 확약           657 non-null    float64
 13  15일 확약           657 non-null    float64
 14  미확약              657 non-null    float64
 15  수요예측_최종값         657 non-null    float64
 16  회사명_bs           657 non-null    object
 17  corp_code        657 non-null    int64
 18  상장일              657 non-null    object
 19  업력               657 non-null    int64
 20  유동자산             657 non-null    int64
 21  유동부채             657 non-null    int64
 22  부채총계             657 non-null    int64
 23  자본금              657 non-null    int64
 24  자본총계             657 non-null    int64
 25  매출액              657 non-null    int64
 26  영업이익             657 non-null    int64
 27  당기순이익            657 non-null    int64
 28  TA               657 non-null    int64
 29  WC               657 non-null    int64
 30  log_TA           657 non-null    float64
 31  log_S            657 non-null    float64
 32  capital_deficit  657 non-null    int64
 33  wc_neg_dummy     657 non-null    int64
 34  ta_negative      657 non-null    int64
 35  current_ratio    657 non-null    float64
 36  wc_sales         644 non-null    float64
 37  wc_ta            657 non-null    float64
 38  cl_tl            657 non-null    float64
 39  de_ratio         640 non-null    float64
 40  equity_ratio     640 non-null    float64
 41  cs_te            640 non-null    float64
 42  debt_asset       657 non-null    float64
 43  op_margin        644 non-null    float64
 44  net_margin       644 non-null    float64
 45  roe              640 non-null    float64
 46  roe_sign_dummy   640 non-null    float64
 47  roe_nan          657 non-null    int64
 48  roa              657 non-null    float64
 49  oi_ta            657 non-null    float64
 50  ni_oi_ratio      657 non-null    float64
 51  asset_turnover   657 non-null    float64
 52  sales_equity     640 non-null    float64
 53  z_simplified     657 non-null    float64
 54  WICS_large       657 non-null    object
 55  우리사주조합           657 non-null    float64
 56  기관투자자            657 non-null    float64
 57  일반투자자            657 non-null    float64
 58  target_1d        657 non-null    int64
 59  target_2d        657 non-null    int64
 60  target_7d        657 non-null    int64
 61  target_15d       657 non-null    int64
 62  target_1m        657 non-null    int64
 63  target_3m        657 non-null    int64
 64  target_6m        657 non-null    int64
dtypes: float64(35), int64(24), object(6)
memory usage: 333.8+ KB

In [248]:
import pandas as pd

# Make sure both keys are the same dtype
merged['stock_code'] = merged['stock_code'].astype(str)
ipo['stock_code'] = ipo['stock_code'].astype(str)

# Perform the merge
merged_full = pd.merge(
    merged,
    ipo,
    on='stock_code',
    how='left',               # keep all rows in merged, add matches from ipo
    suffixes=('', '_ipo')     # if there are overlapping column names
)

# Inspect the result
print(merged_full.head())

   Unnamed: 0     회사명 stock_code        상장일  kospi200(-20)  nasdaq(-20)  \
0         532    포시에스     189690 2015-02-11      -0.053391     0.027060
1          68  세화아이엠씨     145210 2015-03-19       0.049828     0.011804
2          67   엔에스쇼핑     138250 2015-03-27       0.058506    -0.020181
3         531    유지인트     195990 2015-04-13      -0.016436     0.025498
4         530   제노포커스     187420 2015-05-29       0.028846     0.031683

   putcall(-20)  VIXCLS  미국10년물국채금리수익률(-20)  시장금리국고채3년  ...  우리사주조합  기관투자자  \
0      0.056075   16.96            0.080323      2.051  ...    10.0    0.0
1     -0.338983   14.07           -0.096136      1.825  ...    20.0    0.0
2     -0.042553   15.07            0.000000      1.770  ...     0.0    0.0
3     -0.070707   13.94           -0.060270      1.732  ...    18.5    0.0
4      0.324324   13.84            0.010890      1.745  ...    14.9    0.0

   일반투자자 target_1d target_2d target_7d  target_15d  target_1m  target_3m  \
0   90.0         1         1         1           1          1          1
1   80.0         1         1         1           1          1          0
2  100.0         0         0         1           0          0          0
3   81.5         1         1         1           1          1          1
4   85.1         1         1         1           1          1          1

   target_6m
0          0
1          0
2          0
3          1
4          1

[5 rows x 77 columns]

In [249]:
merged_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 533 entries, 0 to 532
Data columns (total 77 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          533 non-null    int64
 1   회사명                 533 non-null    object
 2   stock_code          533 non-null    object
 3   상장일                 533 non-null    datetime64[ns]
 4   kospi200(-20)       533 non-null    float64
 5   nasdaq(-20)         533 non-null    float64
 6   putcall(-20)        533 non-null    float64
 7   VIXCLS              533 non-null    float64
 8   미국10년물국채금리수익률(-20)  533 non-null    float64
 9   시장금리국고채3년           533 non-null    float64
 10  환율변동률(-20)          533 non-null    float64
 11  코스피변동률(-20)         533 non-null    float64
 12  코스닥변동률(-20)         533 non-null    float64
 13  회사명_d1              533 non-null    object
 14  업종                  532 non-null    object
 15  상장주선인               533 non-null    object
 16  공모가 (원)             533 non-null    float64
 17  공모금액 (천원)           533 non-null    float64
 18  최초상장주식수 (주)         533 non-null    float64
 19  call                533 non-null    float64
 20  kospi               533 non-null    float64
 21  modified_esi        533 non-null    float64
 22  6개월 확약              533 non-null    float64
 23  3개월 확약              533 non-null    float64
 24  1개월 확약              533 non-null    float64
 25  15일 확약              533 non-null    float64
 26  미확약                 533 non-null    float64
 27  수요예측_최종값            533 non-null    float64
 28  회사명_bs              533 non-null    object
 29  corp_code           533 non-null    int64
 30  상장일_ipo             533 non-null    object
 31  업력                  533 non-null    int64
 32  유동자산                533 non-null    int64
 33  유동부채                533 non-null    int64
 34  부채총계                533 non-null    int64
 35  자본금                 533 non-null    int64
 36  자본총계                533 non-null    int64
 37  매출액                 533 non-null    int64
 38  영업이익                533 non-null    int64
 39  당기순이익               533 non-null    int64
 40  TA                  533 non-null    int64
 41  WC                  533 non-null    int64
 42  log_TA              533 non-null    float64
 43  log_S               533 non-null    float64
 44  capital_deficit     533 non-null    int64
 45  wc_neg_dummy        533 non-null    int64
 46  ta_negative         533 non-null    int64
 47  current_ratio       533 non-null    float64
 48  wc_sales            523 non-null    float64
 49  wc_ta               533 non-null    float64
 50  cl_tl               533 non-null    float64
 51  de_ratio            519 non-null    float64
 52  equity_ratio        519 non-null    float64
 53  cs_te               519 non-null    float64
 54  debt_asset          533 non-null    float64
 55  op_margin           523 non-null    float64
 56  net_margin          523 non-null    float64
 57  roe                 519 non-null    float64
 58  roe_sign_dummy      519 non-null    float64
 59  roe_nan             533 non-null    int64
 60  roa                 533 non-null    float64
 61  oi_ta               533 non-null    float64
 62  ni_oi_ratio         533 non-null    float64
 63  asset_turnover      533 non-null    float64
 64  sales_equity        519 non-null    float64
 65  z_simplified        533 non-null    float64
 66  WICS_large          533 non-null    object
 67  우리사주조합              533 non-null    float64
 68  기관투자자               533 non-null    float64
 69  일반투자자               533 non-null    float64
 70  target_1d           533 non-null    int64
 71  target_2d           533 non-null    int64
 72  target_7d           533 non-null    int64
 73  target_15d          533 non-null    int64
 74  target_1m           533 non-null    int64
 75  target_3m           533 non-null    int64
 76  target_6m           533 non-null    int64
dtypes: datetime64[ns](1), float64(44), int64(24), object(8)
memory usage: 320.8+ KB

In [250]:
# merged_full.to_csv('../data/pre_data.csv')

In [251]:
merged_full.isna().sum()[merged_full.isna().sum() > 0]

업종                 1
wc_sales          10
de_ratio          14
equity_ratio      14
cs_te             14
op_margin         10
net_margin        10
roe               14
roe_sign_dummy    14
sales_equity      14
dtype: int64

## 원자재 종가

In [252]:
dnjs = pd.read_csv('../notion_data/원자재_종가.csv')

In [253]:
dnjs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3652 entries, 0 to 3651
Data columns (total 37 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   날짜                3652 non-null   object
 1   런던_가스오일  3652 non-null   float64
 2   난방유          3652 non-null   float64
 3   탄소배출권     3652 non-null   float64
 4   브렌트유         3652 non-null   float64
 5   가솔린          3652 non-null   float64
 6   천연가스        3652 non-null   float64
 7   WTI유             3652 non-null   float64
 8   금               3652 non-null   float64
 9   은               3652 non-null   float64
 10  백금            3652 non-null   float64
 11  주석             3652 non-null   float64
 12  납               3652 non-null   float64
 13  아연             3652 non-null   float64
 14  알루미늄        3652 non-null   float64
 15  니켈             3652 non-null   float64
 16  구리_영국       3652 non-null   float64
 17  구리_미국        3652 non-null   float64
 18  미국_커피        3652 non-null   float64
 19  미국_원면      3652 non-null   float64
 20  현미             3652 non-null   float64
 21  돈육            3652 non-null   float64
 22  미국_옥수수     3652 non-null   float64
 23  런던_소맥      3652 non-null   float64
 24  미국_소맥       3652 non-null   float64
 25  오렌지주스       3652 non-null   float64
 26  원목            3652 non-null   float64
 27  미국_대두유      3652 non-null   float64
 28  미국_설탕      3652 non-null   float64
 29  미국_대두박     3652 non-null   float64
 30  생우             3652 non-null   float64
 31  런던_커피       3652 non-null   float64
 32  런던_설탕     3652 non-null   float64
 33  귀리              3652 non-null   float64
 34  런던 코코아 선물 과거 데이터  3652 non-null   float64
 35  육우             3652 non-null   float64
 36  미국_대두        3652 non-null   float64
dtypes: float64(36), object(1)
memory usage: 1.0+ MB

In [254]:
dnjs['날짜'] = pd.to_datetime(dnjs['날짜'])
dnjs = dnjs.sort_values('날짜').reset_index(drop=True)

# '날짜'를 인덱스로 설정
df = dnjs.set_index('날짜')

# 일별 수익률 계산 (pct_change는 전일 대비 퍼센트 변동)
returns = df.pct_change()

# 결과 저장용 DataFrame 생성
result = pd.DataFrame(index=df.index)

# (shift, 라벨) 쌍 정의: 
# shift=1 → -1~-5일, shift=6 → -6~-10일, shift=11 → -11~-15일, shift=16 → -16~-20일
windows = [
    (1, '(-1~-5)'),
    (6, '(-6~-10)'),
    (11, '(-11~-15)'),
    (16, '(-16~-20)')
]

# 각 컬럼에 대해 네 구간별 표준편차 계산
for col in df.columns:
    for shift, label in windows:
        result[f"{col}{label}"] = (
            returns[col]
            .shift(shift)              # 과거 shift 일만큼 뒤로
            .rolling(window=5)         # 5일간
            .std()                     # 표준편차
        )

# 인덱스를 '날짜' 컬럼으로 되돌리고
result = result.reset_index()

# 결과 확인
print(result.head())
# 필요시 to_csv 등으로 저장
# result.to_csv('원자재_표준편차_윈도우.csv', index=False)

          날짜  런던_가스오일(-1~-5)  런던_가스오일(-6~-10)  \
0 2015-01-02                      NaN                       NaN
1 2015-01-03                      NaN                       NaN
2 2015-01-04                      NaN                       NaN
3 2015-01-05                      NaN                       NaN
4 2015-01-06                      NaN                       NaN

   런던_가스오일(-11~-15)  런던_가스오일(-16~-20)  난방유(-1~-5)  \
0                        NaN                        NaN              NaN
1                        NaN                        NaN              NaN
2                        NaN                        NaN              NaN
3                        NaN                        NaN              NaN
4                        NaN                        NaN              NaN

   난방유(-6~-10)  난방유(-11~-15)  난방유(-16~-20)  \
0               NaN                NaN                NaN
1               NaN                NaN                NaN
2               NaN                NaN                NaN
3               NaN                NaN                NaN
4               NaN                NaN                NaN

   탄소배출권(-1~-5)  ...  런던 코코아 선물 과거 데이터(-11~-15)  \
0                   NaN  ...                        NaN
1                   NaN  ...                        NaN
2                   NaN  ...                        NaN
3                   NaN  ...                        NaN
4                   NaN  ...                        NaN

   런던 코코아 선물 과거 데이터(-16~-20)  육우(-1~-5)  육우(-6~-10)  육우(-11~-15)  \
0                        NaN           NaN            NaN             NaN
1                        NaN           NaN            NaN             NaN
2                        NaN           NaN            NaN             NaN
3                        NaN           NaN            NaN             NaN
4                        NaN           NaN            NaN             NaN

   육우(-16~-20)  미국_대두(-1~-5)  미국_대두(-6~-10)  미국_대두(-11~-15)  \
0             NaN                NaN                 NaN                  NaN
1             NaN                NaN                 NaN                  NaN
2             NaN                NaN                 NaN                  NaN
3             NaN                NaN                 NaN                  NaN
4             NaN                NaN                 NaN                  NaN

   미국_대두(-16~-20)
0                  NaN
1                  NaN
2                  NaN
3                  NaN
4                  NaN

[5 rows x 145 columns]

C:\Users\Owner\AppData\Local\Temp\ipykernel_3020\1881168302.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  result[f"{col}{label}"] = (
C:\Users\Owner\AppData\Local\Temp\ipykernel_3020\1881168302.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  result[f"{col}{label}"] = (
C:\Users\Owner\AppData\Local\Temp\ipykernel_3020\1881168302.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  result[f"{col}{label}"] = (
C:\Users\Owner\AppData\Local\Temp\ipykernel_3020\1881168302.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  result[f"{col}{label}"] = (
C:\Users\Owner\AppData\Local\Temp\ipykernel_3020\1881168302.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  result[f"{col}{label}"] = (
C:\Users\Owner\AppData\Local\Temp\ipykernel_3020\1881168302.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  result[f"{col}{label}"] = (
C:\Users\Owner\AppData\Local\Temp\ipykernel_3020\1881168302.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  result[f"{col}{label}"] = (
C:\Users\Owner\AppData\Local\Temp\ipykernel_3020\1881168302.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  result[f"{col}{label}"] = (
C:\Users\Owner\AppData\Local\Temp\ipykernel_3020\1881168302.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  result[f"{col}{label}"] = (
C:\Users\Owner\AppData\Local\Temp\ipykernel_3020\1881168302.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  result[f"{col}{label}"] = (
C:\Users\Owner\AppData\Local\Temp\ipykernel_3020\1881168302.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  result[f"{col}{label}"] = (
C:\Users\Owner\AppData\Local\Temp\ipykernel_3020\1881168302.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  result[f"{col}{label}"] = (
C:\Users\Owner\AppData\Local\Temp\ipykernel_3020\1881168302.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  result[f"{col}{label}"] = (
C:\Users\Owner\AppData\Local\Temp\ipykernel_3020\1881168302.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  result[f"{col}{label}"] = (
C:\Users\Owner\AppData\Local\Temp\ipykernel_3020\1881168302.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  result[f"{col}{label}"] = (
C:\Users\Owner\AppData\Local\Temp\ipykernel_3020\1881168302.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  result[f"{col}{label}"] = (
C:\Users\Owner\AppData\Local\Temp\ipykernel_3020\1881168302.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  result[f"{col}{label}"] = (
C:\Users\Owner\AppData\Local\Temp\ipykernel_3020\1881168302.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  result[f"{col}{label}"] = (
C:\Users\Owner\AppData\Local\Temp\ipykernel_3020\1881168302.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  result[f"{col}{label}"] = (
C:\Users\Owner\AppData\Local\Temp\ipykernel_3020\1881168302.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  result[f"{col}{label}"] = (
C:\Users\Owner\AppData\Local\Temp\ipykernel_3020\1881168302.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  result[f"{col}{label}"] = (
C:\Users\Owner\AppData\Local\Temp\ipykernel_3020\1881168302.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  result[f"{col}{label}"] = (
C:\Users\Owner\AppData\Local\Temp\ipykernel_3020\1881168302.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  result[f"{col}{label}"] = (
C:\Users\Owner\AppData\Local\Temp\ipykernel_3020\1881168302.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  result[f"{col}{label}"] = (
C:\Users\Owner\AppData\Local\Temp\ipykernel_3020\1881168302.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  result[f"{col}{label}"] = (
C:\Users\Owner\AppData\Local\Temp\ipykernel_3020\1881168302.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  result[f"{col}{label}"] = (
C:\Users\Owner\AppData\Local\Temp\ipykernel_3020\1881168302.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  result[f"{col}{label}"] = (
C:\Users\Owner\AppData\Local\Temp\ipykernel_3020\1881168302.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  result[f"{col}{label}"] = (
C:\Users\Owner\AppData\Local\Temp\ipykernel_3020\1881168302.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  result[f"{col}{label}"] = (
C:\Users\Owner\AppData\Local\Temp\ipykernel_3020\1881168302.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  result[f"{col}{label}"] = (
C:\Users\Owner\AppData\Local\Temp\ipykernel_3020\1881168302.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  result[f"{col}{label}"] = (
C:\Users\Owner\AppData\Local\Temp\ipykernel_3020\1881168302.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  result[f"{col}{label}"] = (
C:\Users\Owner\AppData\Local\Temp\ipykernel_3020\1881168302.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  result[f"{col}{label}"] = (
C:\Users\Owner\AppData\Local\Temp\ipykernel_3020\1881168302.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  result[f"{col}{label}"] = (
C:\Users\Owner\AppData\Local\Temp\ipykernel_3020\1881168302.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  result[f"{col}{label}"] = (
C:\Users\Owner\AppData\Local\Temp\ipykernel_3020\1881168302.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  result[f"{col}{label}"] = (
C:\Users\Owner\AppData\Local\Temp\ipykernel_3020\1881168302.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  result[f"{col}{label}"] = (
C:\Users\Owner\AppData\Local\Temp\ipykernel_3020\1881168302.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  result[f"{col}{label}"] = (
C:\Users\Owner\AppData\Local\Temp\ipykernel_3020\1881168302.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  result[f"{col}{label}"] = (
C:\Users\Owner\AppData\Local\Temp\ipykernel_3020\1881168302.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  result[f"{col}{label}"] = (
C:\Users\Owner\AppData\Local\Temp\ipykernel_3020\1881168302.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  result[f"{col}{label}"] = (
C:\Users\Owner\AppData\Local\Temp\ipykernel_3020\1881168302.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  result[f"{col}{label}"] = (
C:\Users\Owner\AppData\Local\Temp\ipykernel_3020\1881168302.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  result[f"{col}{label}"] = (
C:\Users\Owner\AppData\Local\Temp\ipykernel_3020\1881168302.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  result[f"{col}{label}"] = (

In [255]:
result.head(30)

,날짜,런던_가스오일(-1~-5),런던_가스오일(-6~-10),런던_가스오일(-11~-15),런던_가스오일(-16~-20),난방유(-1~-5),난방유(-6~-10),난방유(-11~-15),난방유(-16~-20),탄소배출권(-1~-5),...,런던 코코아 선물 과거 데이터(-11~-15),런던 코코아 선물 과거 데이터(-16~-20),육우(-1~-5),육우(-6~-10),육우(-11~-15),육우(-16~-20),미국_대두(-1~-5),미국_대두(-6~-10),미국_대두(-11~-15),미국_대두(-16~-20)
0,2015-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2015-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2015-01-08,0.018479,NaN,NaN,NaN,0.013080,NaN,NaN,NaN,0.009809,...,NaN,NaN,0.004605,NaN,NaN,NaN,0.015872,NaN,NaN,NaN
7,2015-01-09,0.019862,NaN,NaN,NaN,0.013718,NaN,NaN,NaN,0.010712,...,NaN,NaN,0.004616,NaN,NaN,NaN,0.017300,NaN,NaN,NaN
8,2015-01-10,0.017930,NaN,NaN,NaN,0.012576,NaN,NaN,NaN,0.010763,...,NaN,NaN,0.008477,NaN,NaN,NaN,0.016755,NaN,NaN,NaN
9,2015-01-11,0.012189,NaN,NaN,NaN,0.009127,NaN,NaN,NaN,0.010485,...,NaN,NaN,0.006987,NaN,NaN,NaN,0.006837,NaN,NaN,NaN
10,2015-01-12,0.012450,NaN,NaN,NaN,0.005658,NaN,NaN,NaN,0.007449,...,NaN,NaN,0.007029,NaN,NaN,NaN,0.004889,NaN,NaN,NaN
11,2015-01-13,0.010559,0.018479,NaN,NaN,0.014634,0.013080,NaN,NaN,0.007317,...,NaN,NaN,0.007059,0.004605,NaN,NaN,0.016740,0.015872,NaN,NaN
12,2015-01-14,0.010507,0.019862,NaN,NaN,0.013571,0.013718,NaN,NaN,0.040797,...,NaN,NaN,0.007454,0.004616,NaN,NaN,0.016943,0.017300,NaN,NaN
13,2015-01-15,0.010457,0.017930,NaN,NaN,0.018786,0.012576,NaN,NaN,0.041377,...,NaN,NaN,0.005161,0.008477,NaN,NaN,0.014923,0.016755,NaN,NaN
14,2015-01-16,0.019806,0.012189,NaN,NaN,0.020321,0.009127,NaN,NaN,0.041912,...,NaN,NaN,0.009448,0.006987,NaN,NaN,0.014648,0.006837,NaN,NaN
15,2015-01-17,0.019782,0.012450,NaN,NaN,0.026062,0.005658,NaN,NaN,0.041811,...,NaN,NaN,0.008806,0.007029,NaN,NaN,0.014802,0.004889,NaN,NaN
16,2015-01-18,0.018407,0.010559,0.018479,NaN,0.020379,0.014634,0.013080,NaN,0.041811,...,0.007334,NaN,0.007439,0.007059,0.004605,NaN,0.005988,0.016740,0.015872,NaN
17,2015-01-19,0.013428,0.010507,0.019862,NaN,0.019800,0.013571,0.013718,NaN,0.007973,...,0.008736,NaN,0.008351,0.007454,0.004616,NaN,0.003372,0.016943,0.017300,NaN
18,2015-01-20,0.013227,0.010457,0.017930,NaN,0.019420,0.018786,0.012576,NaN,0.006107,...,0.009652,NaN,0.008900,0.005161,0.008477,NaN,0.000828,0.014923,0.016755,NaN
19,2015-01-21,0.001520,0.019806,0.012189,NaN,0.022916,0.020321,0.009127,NaN,0.006509,...,0.008790,NaN,0.003489,0.009448,0.006987,NaN,0.004493,0.014648,0.006837,NaN
20,2015-01-22,0.003966,0.019782,0.012450,NaN,0.020209,0.026062,0.005658,NaN,0.011527,...,0.007689,NaN,0.002487,0.008806,0.007029,NaN,0.004615,0.014802,0.004889,NaN
21,2015-01-23,0.005183,0.018407,0.010559,0.018479,0.020182,0.020379,0.014634,0.013080,0.038822,...,0.007814,0.007334,0.002359,0.007439,0.007059,0.004605,0.005002,0.005988,0.016740,0.015872
22,2015-01-24,0.005618,0.013428,0.010507,0.019862,0.018943,0.019800,0.013571,0.013718,0.039289,...,0.005000,0.008736,0.006068,0.008351,0.007454,0.004616,0.004708,0.003372,0.016943,0.017300
23,2015-01-25,0.005648,0.013227,0.010457,0.017930,0.018916,0.019420,0.018786,0.012576,0.038165,...,0.004354,0.009652,0.006068,0.008900,0.005161,0.008477,0.004708,0.000828,0.014923,0.016755
24,2015-01-26,0.005656,0.001520,0.019806,0.012189,0.008211,0.022916,0.020321,0.009127,0.038476,...,0.004647,0.008790,0.005968,0.003489,0.009448,0.006987,0.003479,0.004493,0.014648,0.006837
25,2015-01-27,0.004683,0.003966,0.019782,0.012450,0.004439,0.020209,0.026062,0.005658,0.035854,...,0.005647,0.007689,0.005766,0.002487,0.008806,0.007029,0.006819,0.004615,0.014802,0.004889
26,2015-01-28,0.003749,0.005183,0.018407,0.010559,0.007918,0.020182,0.020379,0.014634,0.003978,...,0.002432,0.007814,0.005053,0.002359,0.007439,0.007059,0.007672,0.005002,0.005988,0.016740
27,2015-01-29,0.004501,0.005618,0.013428,0.010507,0.012451,0.018943,0.019800,0.013571,0.007387,...,0.002657,0.005000,0.006423,0.006068,0.008351,0.007454,0.007618,0.004708,0.003372,0.016943
28,2015-01-30,0.007282,0.005648,0.013227,0.010457,0.012437,0.018916,0.019420,0.018786,0.008360,...,0.003077,0.004354,0.006413,0.006068,0.008900,0.005161,0.007640,0.004708,0.000828,0.014923
29,2015-01-31,0.009064,0.005656,0.001520,0.019806,0.030511,0.008211,0.022916,0.020321,0.007796,...,0.004092,0.004647,0.015829,0.005968,0.003489,0.009448,0.008137,0.003479,0.004493,0.014648

In [256]:
merged_full

,Unnamed: 0,회사명,stock_code,상장일,kospi200(-20),nasdaq(-20),putcall(-20),VIXCLS,미국10년물국채금리수익률(-20),시장금리국고채3년,...,우리사주조합,기관투자자,일반투자자,target_1d,target_2d,target_7d,target_15d,target_1m,target_3m,target_6m
0,532,포시에스,189690,2015-02-11,-0.053391,0.027060,0.056075,16.96,0.080323,2.051,...,10.00,0.00,90.0,1,1,1,1,1,1,0
1,68,세화아이엠씨,145210,2015-03-19,0.049828,0.011804,-0.338983,14.07,-0.096136,1.825,...,20.00,0.00,80.0,1,1,1,1,1,0,0
2,67,엔에스쇼핑,138250,2015-03-27,0.058506,-0.020181,-0.042553,15.07,0.000000,1.770,...,0.00,0.00,100.0,0,0,1,0,0,0,0
3,531,유지인트,195990,2015-04-13,-0.016436,0.025498,-0.070707,13.94,-0.060270,1.732,...,18.50,0.00,81.5,1,1,1,1,1,1,1
4,530,제노포커스,187420,2015-05-29,0.028846,0.031683,0.324324,13.84,0.010890,1.745,...,14.90,0.00,85.1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
528,73,기가비스,420770,2023-05-24,-0.020188,0.059548,-0.094118,20.03,0.073440,3.378,...,5.96,69.04,25.0,1,1,1,1,1,1,1
529,72,진영,285800,2023-06-01,0.041520,0.075670,-0.132653,15.65,0.061426,3.478,...,0.00,75.00,25.0,1,1,1,1,1,0,0
530,71,나라셀라,405920,2023-06-02,-0.049039,0.094814,-0.135135,14.60,0.026804,3.436,...,3.00,72.00,25.0,0,0,1,0,0,0,0
531,70,마녀공장,439090,2023-06-08,-0.047255,0.064881,0.056180,13.65,0.095293,3.543,...,0.00,75.00,25.0,1,1,1,1,1,1,1
532,69,큐라티스,348080,2023-06-15,-0.002943,0.090069,-0.305085,14.50,0.029332,3.626,...,0.00,75.00,25.0,1,1,1,0,0,0,0

In [257]:
# 1) Convert both columns to datetime
merged_full['상장일'] = pd.to_datetime(merged_full['상장일'])
result['날짜'] = pd.to_datetime(result['날짜'])

# 2) Sort both DataFrames by their date keys
merged_full = merged_full.sort_values('상장일').reset_index(drop=True)
result = result.sort_values('날짜').reset_index(drop=True)

merged_full = pd.merge_asof(
    merged_full,
    result,
    left_on='상장일',
    right_on='날짜',
    direction='backward'   # 상장일 당일 또는 그 이전의 가장 가까운 거래일
).drop(columns=['날짜'])

In [258]:
merged_full.isna().sum()[merged_full.isna().sum() > 0]

업종                 1
wc_sales          10
de_ratio          14
equity_ratio      14
cs_te             14
op_margin         10
net_margin        10
roe               14
roe_sign_dummy    14
sales_equity      14
dtype: int64

In [259]:
# merged_full.to_csv('../data/pre_data.csv')

## 코스닥 지수

In [260]:
kosdaq = pd.read_csv('../notion_data/코스닥지수.csv')

In [261]:
kosdaq['원자료'] = pd.to_numeric(
    kosdaq['원자료'].str.replace(',', ''), 
    errors='coerce'
)
kosdaq.rename(columns={'원자료':'코스닥수익률표준편차'},inplace=True)
kosdaq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2468 entries, 0 to 2467
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   변환          2468 non-null   object
 1   코스닥수익률표준편차  2468 non-null   float64
dtypes: float64(1), object(1)
memory usage: 38.7+ KB

In [262]:
kosdaq['변환'] = pd.to_datetime(kosdaq['변환'])
kosdaq = kosdaq.sort_values('변환').reset_index(drop=True)

# '변환'를 인덱스로 설정
df = kosdaq.set_index('변환')

# 일별 수익률 계산 (pct_change는 전일 대비 퍼센트 변동)
returns = df.pct_change()

# 결과 저장용 DataFrame 생성
result = pd.DataFrame(index=df.index)

# (shift, 라벨) 쌍 정의: 
# shift=1 → -1~-5일, shift=6 → -6~-10일, shift=11 → -11~-15일, shift=16 → -16~-20일
windows = [
    (1, '(-1~-5)'),
    (6, '(-6~-10)'),
    (11, '(-11~-15)'),
    (16, '(-16~-20)')
]

# 각 컬럼에 대해 네 구간별 표준편차 계산
for col in df.columns:
    for shift, label in windows:
        result[f"{col}{label}"] = (
            returns[col]
            .shift(shift)              # 과거 shift 일만큼 뒤로
            .rolling(window=5)         # 5일간
            .std()                     # 표준편차
        )

# 인덱스를 '변환' 컬럼으로 되돌리고
result = result.reset_index()

# 결과 확인
print(result.head())
# 필요시 to_csv 등으로 저장
# result.to_csv('원자재_표준편차_윈도우.csv', index=False)

          변환  코스닥수익률표준편차(-1~-5)  코스닥수익률표준편차(-6~-10)  코스닥수익률표준편차(-11~-15)  \
0 2015-01-02                NaN                 NaN                  NaN
1 2015-01-05                NaN                 NaN                  NaN
2 2015-01-06                NaN                 NaN                  NaN
3 2015-01-07                NaN                 NaN                  NaN
4 2015-01-08                NaN                 NaN                  NaN

   코스닥수익률표준편차(-16~-20)
0                  NaN
1                  NaN
2                  NaN
3                  NaN
4                  NaN

In [263]:
result.head(30)

,변환,코스닥수익률표준편차(-1~-5),코스닥수익률표준편차(-6~-10),코스닥수익률표준편차(-11~-15),코스닥수익률표준편차(-16~-20)
0,2015-01-02,NaN,NaN,NaN,NaN
1,2015-01-05,NaN,NaN,NaN,NaN
2,2015-01-06,NaN,NaN,NaN,NaN
3,2015-01-07,NaN,NaN,NaN,NaN
4,2015-01-08,NaN,NaN,NaN,NaN
5,2015-01-09,NaN,NaN,NaN,NaN
6,2015-01-12,0.007087,NaN,NaN,NaN
7,2015-01-13,0.006091,NaN,NaN,NaN
8,2015-01-14,0.006984,NaN,NaN,NaN
9,2015-01-15,0.007006,NaN,NaN,NaN
10,2015-01-16,0.007706,NaN,NaN,NaN
11,2015-01-19,0.008305,0.007087,NaN,NaN
12,2015-01-20,0.008262,0.006091,NaN,NaN
13,2015-01-21,0.007335,0.006984,NaN,NaN
14,2015-01-22,0.007280,0.007006,NaN,NaN
15,2015-01-23,0.007316,0.007706,NaN,NaN
16,2015-01-26,0.010504,0.008305,0.007087,NaN
17,2015-01-27,0.010447,0.008262,0.006091,NaN
18,2015-01-28,0.010859,0.007335,0.006984,NaN
19,2015-01-29,0.011641,0.007280,0.007006,NaN
20,2015-01-30,0.009691,0.007316,0.007706,NaN
21,2015-02-02,0.006192,0.010504,0.008305,0.007087
22,2015-02-03,0.006291,0.010447,0.008262,0.006091
23,2015-02-04,0.006112,0.010859,0.007335,0.006984
24,2015-02-05,0.005076,0.011641,0.007280,0.007006
25,2015-02-06,0.004796,0.009691,0.007316,0.007706
26,2015-02-09,0.003891,0.006192,0.010504,0.008305
27,2015-02-10,0.010395,0.006291,0.010447,0.008262
28,2015-02-11,0.010184,0.006112,0.010859,0.007335
29,2015-02-12,0.011657,0.005076,0.011641,0.007280

In [264]:
# 1) Convert both columns to datetime
merged_full['상장일'] = pd.to_datetime(merged_full['상장일'])
result['변환'] = pd.to_datetime(result['변환'])

# 2) Sort both DataFrames by their date keys
merged_full = merged_full.sort_values('상장일').reset_index(drop=True)
result = result.sort_values('변환').reset_index(drop=True)

merged_full = pd.merge_asof(
    merged_full,
    result,
    left_on='상장일',
    right_on='변환',
    direction='backward'   # 상장일 당일 또는 그 이전의 가장 가까운 거래일
).drop(columns=['변환'])

In [265]:
# merged_full.to_csv('../data/pre_data.csv')

In [266]:
merged_full.isna().sum()[merged_full.isna().sum() > 0]

업종                 1
wc_sales          10
de_ratio          14
equity_ratio      14
cs_te             14
op_margin         10
net_margin        10
roe               14
roe_sign_dummy    14
sales_equity      14
dtype: int64