In [253]:
import pandas as pd

In [254]:
df = pd.read_csv("../data/주가수익률/주가수익률_base.csv")

In [255]:
pre = pd.read_csv("../data/pre_data.csv")

In [256]:
cci = pd.read_csv("../data/경기국면/경기국면(경기동행).csv")
csi = pd.read_csv("../data/경기국면/경기국면(CSI).csv")
esi = pd.read_csv("../data/경기국면/경기국면(ESI).csv")

In [257]:
len(df.columns)

45

In [258]:
pre.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', '회사명', 'stock_code', '상장일',
       'kospi200(-20)', 'nasdaq(-20)', 'putcall(-20)', 'VIXCLS',
       '미국10년물국채금리수익률(-20)',
       ...
       '런던 코코아 선물 과거 데이터(-11~-15)', '런던 코코아 선물 과거 데이터(-16~-20)',
       '육우(-1~-5)', '육우(-6~-10)', '육우(-11~-15)', '육우(-16~-20)',
       '미국_대두(-1~-5)', '미국_대두(-6~-10)', '미국_대두(-11~-15)',
       '미국_대두(-16~-20)'],
      dtype='object', length=222)

In [259]:
pre.drop(["Unnamed: 0", "Unnamed: 0.1", "WICS_large", "target_1d", "target_2d",
         "target_7d", "target_15d", "target_1m", "target_3m", "target_6m",
          "회사명_d1", "업종", "상장일", "유동자산", "유동부채", "부채총계",
          "자본금", "자본총계", "매출액", "영업이익", "당기순이익", "회사명_bs",
          "z_simplified", "corp_code", "kospi", "call", "modified_esi", "공모금액 (천원)",
          "공모가 (원)", "상장일_ipo", "최초상장주식수 (주)", "상장주선인",
          "log_TA", "log_S", "TA", "WC", "capital_deficit"], axis=1, inplace=True)

In [260]:
pre.columns

Index(['회사명', 'stock_code', 'kospi200(-20)', 'nasdaq(-20)', 'putcall(-20)',
       'VIXCLS', '미국10년물국채금리수익률(-20)', '시장금리국고채3년', '환율변동률(-20)',
       '코스피변동률(-20)',
       ...
       '런던 코코아 선물 과거 데이터(-11~-15)', '런던 코코아 선물 과거 데이터(-16~-20)',
       '육우(-1~-5)', '육우(-6~-10)', '육우(-11~-15)', '육우(-16~-20)',
       '미국_대두(-1~-5)', '미국_대두(-6~-10)', '미국_대두(-11~-15)',
       '미국_대두(-16~-20)'],
      dtype='object', length=185)

In [261]:
len(pre.columns)

185

In [ ]:
fin = pd.merge(df, pre, how='left', on='회사명')

In [263]:
fin.columns

Index(['1~5일 수익률 표준편차', '6~10일 수익률 표준편차', '11~15일 수익률 표준편차', '16~20일 수익률 표준편차',
       'stock_code_x', 'kospi200(-20)_x', 'nasdaq(-20)_x', 'putcall(-20)_x',
       'VIXCLS_x', '미국10년물국채금리수익률(-20)_x',
       ...
       '런던 코코아 선물 과거 데이터(-11~-15)', '런던 코코아 선물 과거 데이터(-16~-20)',
       '육우(-1~-5)', '육우(-6~-10)', '육우(-11~-15)', '육우(-16~-20)',
       '미국_대두(-1~-5)', '미국_대두(-6~-10)', '미국_대두(-11~-15)',
       '미국_대두(-16~-20)'],
      dtype='object', length=229)

In [264]:
cci.head()

        회사명      상장일  경기국면
0     바이오노트  2022-12     0
1        쏘카  2022-08     0
2   수산인더스트리  2022-08     0
3  LG에너지솔루션  2022-01     1
4     카카오페이  2021-11     1

In [265]:
cci = cci[['회사명','경기국면']]
csi = csi[['회사명','경기국면']]
esi = esi[['회사명','경기국면']]

In [266]:
cci.columns = ['회사명','경기동행_경기국면']
csi.columns = ['회사명','cis_경기국면']
esi.columns = ['회사명','esi_경기국면']

In [267]:
a =  pd.merge(fin, cci, how = 'left', on = '회사명')

In [268]:
b =  pd.merge(a, csi, how = 'left', on = '회사명')

In [269]:
whatjonghowanted =  pd.merge(b, esi, how = 'left', on = '회사명')

In [270]:
whatjonghowanted

,1~5일 수익률 표준편차,6~10일 수익률 표준편차,11~15일 수익률 표준편차,16~20일 수익률 표준편차,stock_code_x,kospi200(-20)_x,nasdaq(-20)_x,putcall(-20)_x,VIXCLS_x,미국10년물국채금리수익률(-20)_x,...,육우(-6~-10),육우(-11~-15),육우(-16~-20),미국_대두(-1~-5),미국_대두(-6~-10),미국_대두(-11~-15),미국_대두(-16~-20),경기동행_경기국면,cis_경기국면,esi_경기국면
0,0.089380,0.064986,0.029926,0.042214,95570,0.136329,-0.041492,0.070588,28.03,-0.083554,...,0.000675,0.002814,0.006510,0.026566,0.039119,0.018045,0.007878,0,1,0
1,0.055183,0.027244,0.010927,0.014312,211270,-0.176910,0.043876,0.194915,16.86,-0.004341,...,0.005886,0.003080,0.012941,0.002933,0.005522,0.002337,0.003509,1,1,0
2,0.494998,0.054747,0.020483,0.047155,241520,-0.212121,0.021733,-0.145455,11.71,0.123163,...,0.009908,0.009655,0.013420,0.004625,0.006165,0.013232,0.005535,0,0,0
3,0.358088,0.053057,0.021488,0.044340,245620,0.238400,0.018308,-0.010101,15.92,0.032975,...,0.003425,0.016975,0.004899,0.014253,0.010068,0.009282,0.008099,0,1,0
4,0.207570,0.075022,0.079149,0.022592,900290,0.009464,0.000777,-0.099237,13.46,0.123410,...,0.013306,0.013063,0.002660,0.006270,0.008804,0.007971,0.003389,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505,0.026507,0.038630,0.021920,0.020494,241590,0.220588,0.004731,0.330000,13.63,0.016240,...,0.004789,0.004015,0.007106,0.008225,0.007027,0.016040,0.013869,0,1,0
506,0.307025,0.070693,0.081862,0.026760,290270,-0.278547,0.015931,0.328767,12.19,0.060360,...,0.005440,0.010161,0.006652,0.018286,0.006120,0.002248,0.014386,0,1,0
507,0.066710,0.020265,0.023937,0.013088,145020,0.052092,-0.013723,0.170455,15.74,0.015737,...,0.023168,0.013361,0.009424,0.002930,0.011968,0.004078,0.013324,1,1,0
508,0.700850,0.009627,0.049481,0.044956,189980,-0.112914,0.011753,0.000000,13.39,-0.089534,...,0.005779,0.005266,0.007570,0.008782,0.009124,0.012911,0.006392,0,1,0
509,0.299234,0.033815,0.051554,0.020914,238490,-0.050089,0.024237,-0.054545,9.58,0.059235,...,0.012365,0.015722,0.006489,0.004615,0.026142,0.007059,0.014664,1,1,1

In [272]:
dup_cols =whatjonghowanted.columns[whatjonghowanted.columns.duplicated()].tolist()
print("중복 컬럼명:", dup_cols)

중복 컬럼명: []

In [276]:
dupe_vals = whatjonghowanted.loc[:, whatjonghowanted.T.duplicated()]   # 내용이 중복된 컬럼만 추출
dupe_vals.columns

Index(['roe_nan_x', 'stock_code_y', 'kospi200(-20)_y', 'nasdaq(-20)_y',
       'putcall(-20)_y', 'VIXCLS_y', '미국10년물국채금리수익률(-20)_y', '시장금리국고채3년_y',
       '환율변동률(-20)_y', '코스피변동률(-20)_y', '코스닥변동률(-20)_y', '6개월 확약_y',
       '3개월 확약_y', '1개월 확약_y', '15일 확약_y', '미확약_y', '수요예측_최종값_y', '업력_y',
       'wc_neg_dummy_y', 'ta_negative_y', 'current_ratio_y', 'wc_sales_y',
       'wc_ta_y', 'cl_tl_y', 'de_ratio_y', 'equity_ratio_y', 'cs_te_y',
       'debt_asset_y', 'op_margin_y', 'net_margin_y', 'roe_y',
       'roe_sign_dummy_y', 'roe_nan_y', 'roa_y', 'oi_ta_y', 'ni_oi_ratio_y',
       'asset_turnover_y', 'sales_equity_y', '우리사주조합_y', '기관투자자_y', '일반투자자_y'],
      dtype='object')

In [281]:
whatjonghowanted.to_csv(
    r'../data/종호가원한것.csv',
    index=False,            # 인덱스 칼럼(왼쪽 0,1,2...) 저장 안 함
    encoding="utf-8-sig",   # Excel 한글 깨짐 방지(BOM 포함)
    float_format="%.4f"   # 실수 4자리까지 표시 예시
)