In [2]:
import pandas as pd

In [3]:
data = pd.read_csv(r'..\data\경기국면\경기종합지수_통합.csv', encoding='utf-8')

In [7]:
data[['날짜', ' 동행종합지수(2020=100)']].to_csv(
    r'..\data\경기국면\경기종합지수_동행종합지수.csv',index=False, encoding='utf-8-sig')

In [8]:
regime = pd.read_csv(r'..\data\regime_classification.csv', encoding='utf-8')

In [21]:
# regime 날짜 컬럼을 datetime 형식으로 변환 후 'YYYY-MM' 형식의 문자열로 저장
regime['날짜'] = pd.to_datetime(regime['날짜']).dt.strftime('%Y-%m')
regime.rename(columns={'날짜': '상장일'}, inplace=True)

In [15]:
df = pd.read_csv(r'..\data\giup_data.csv', encoding='utf-8-sig')

In [16]:
df = df[['회사명','상장일']]

In [ ]:
df['상장일'] = pd.to_datetime(df['상장일']).dt.strftime('%Y-%m')

          회사명      상장일
0       바이오노트  2022-12
1          쏘카  2022-08
2     수산인더스트리  2022-08
3    LG에너지솔루션  2022-01
4       카카오페이  2021-11
..        ...      ...
528      싸이맥스  2015-06
529     픽셀플러스  2015-06
530     제노포커스  2015-05
531      유지인트  2015-04
532      포시에스  2015-02

[533 rows x 2 columns]

In [22]:
pd.merge(df, regime, on='상장일', how='left') \
    .to_csv(r'..\data\경기국면\동행지수(markov switch).csv', index=False, encoding='utf-8-sig')