In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../notion_data/S&P 500.csv')

In [4]:
df.head()

         Date     Price      Open      High       Low  Vol. Change %
0  12/31/2024  5,881.63  5,919.74  5,929.74  5,868.86   NaN   -0.43%
1  12/30/2024  5,906.94  5,920.67  5,940.79  5,869.16   NaN   -1.07%
2  12/27/2024  5,970.84  6,006.17  6,006.17  5,932.95   NaN   -1.11%
3  12/26/2024  6,037.59  6,024.97  6,049.75  6,007.37   NaN   -0.04%
4  12/24/2024  6,040.04  5,984.63  6,040.10  5,981.44   NaN    1.10%

In [5]:
df = df[['Date', 'Price']]
df

            Date     Price
0     12/31/2024  5,881.63
1     12/30/2024  5,906.94
2     12/27/2024  5,970.84
3     12/26/2024  6,037.59
4     12/24/2024  6,040.04
...          ...       ...
2512  01/07/2015  2,025.90
2513  01/06/2015  2,002.60
2514  01/05/2015  2,020.60
2515  01/02/2015  2,058.20
2516  12/31/2014  2,058.90

[2517 rows x 2 columns]

In [6]:
df = df.rename(columns={'Date' : '날짜', 'Price' : '원자료'})

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      2517 non-null   object
 1   원자료     2517 non-null   object
dtypes: object(2)
memory usage: 39.5+ KB

In [8]:
df['날짜'] = pd.to_datetime(df['날짜'])

In [9]:
df = df.sort_values(by=['날짜'], ascending=True)

In [10]:
df = df.reset_index(drop=True)

df

             날짜       원자료
0    2014-12-31  2,058.90
1    2015-01-02  2,058.20
2    2015-01-05  2,020.60
3    2015-01-06  2,002.60
4    2015-01-07  2,025.90
...         ...       ...
2512 2024-12-24  6,040.04
2513 2024-12-26  6,037.59
2514 2024-12-27  5,970.84
2515 2024-12-30  5,906.94
2516 2024-12-31  5,881.63

[2517 rows x 2 columns]

In [11]:
# df = df.rename(columns/={'변환' : '날짜'})

In [12]:
import pandas as pd

# df['날짜'] = pd.to_datetime(df['날짜'])
df = df.sort_values('날짜').reset_index(drop=True)

# '날짜'를 인덱스로 설정
df = df.set_index('날짜')

# ,가 포함된 숫자 문자열을 정리하고 float으로 변환
df['원자료'] = df['원자료'].astype(str).str.replace(',', '').astype(float)

# 일별 수익률 계산
returns = df.pct_change()

# 결과 저장용 DataFrame 생성
result = pd.DataFrame(index=df.index)

# 앞으로 볼 윈도우 끝(일)과 라벨 정의: (5일→1~5, 10일→6~10, …)
windows = [
    (5, '(1~5)'),
    (10, '(6~10)'),
    (15, '(11~15)'),
    (20, '(16~20)')
]

# 각 컬럼에 대해 미래 5일씩 네 구간별 표준편차 계산
for col in df.columns:
    for end, label in windows:
        result[f"{col}{label}"] = (
            returns[col]
            .shift(-end)           # 미래 end일만큼 앞으로(음수) 시프트
            .rolling(window=5)     # 5일 윈도우
            .std()                 # 표준편차
        )

# 인덱스를 '날짜' 컬럼으로 되돌리고
result = result.reset_index()

print(result.head())

          날짜  원자료(1~5)  원자료(6~10)  원자료(11~15)  원자료(16~20)
0 2014-12-31       NaN        NaN         NaN         NaN
1 2015-01-02       NaN        NaN         NaN         NaN
2 2015-01-05       NaN        NaN         NaN         NaN
3 2015-01-06       NaN        NaN         NaN         NaN
4 2015-01-07  0.011015   0.009895     0.01007    0.012068

In [13]:
result.head(30)

           날짜  원자료(1~5)  원자료(6~10)  원자료(11~15)  원자료(16~20)
0  2014-12-31       NaN        NaN         NaN         NaN
1  2015-01-02       NaN        NaN         NaN         NaN
2  2015-01-05       NaN        NaN         NaN         NaN
3  2015-01-06       NaN        NaN         NaN         NaN
4  2015-01-07  0.011015   0.009895    0.010070    0.012068
5  2015-01-08  0.002678   0.008596    0.010858    0.009069
6  2015-01-09  0.009221   0.007530    0.013469    0.009059
7  2015-01-12  0.008750   0.010854    0.014082    0.007914
8  2015-01-13  0.008931   0.012148    0.011971    0.007331
9  2015-01-14  0.009895   0.010070    0.012068    0.007174
10 2015-01-15  0.008596   0.010858    0.009069    0.006364
11 2015-01-16  0.007530   0.013469    0.009059    0.004801
12 2015-01-20  0.010854   0.014082    0.007914    0.004115
13 2015-01-21  0.012148   0.011971    0.007331    0.004330
14 2015-01-22  0.010070   0.012068    0.007174    0.003019
15 2015-01-23  0.010858   0.009069    0.006364    0.002929
16 2015-01-26  0.013469   0.009059    0.004801    0.003012
17 2015-01-27  0.014082   0.007914    0.004115    0.003086
18 2015-01-28  0.011971   0.007331    0.004330    0.003173
19 2015-01-29  0.012068   0.007174    0.003019    0.002099
20 2015-01-30  0.009069   0.006364    0.002929    0.003672
21 2015-02-02  0.009059   0.004801    0.003012    0.004093
22 2015-02-03  0.007914   0.004115    0.003086    0.004415
23 2015-02-04  0.007331   0.004330    0.003173    0.004568
24 2015-02-05  0.007174   0.003019    0.002099    0.007569
25 2015-02-06  0.006364   0.002929    0.003672    0.006927
26 2015-02-09  0.004801   0.003012    0.004093    0.009193
27 2015-02-10  0.004115   0.003086    0.004415    0.009368
28 2015-02-11  0.004330   0.003173    0.004568    0.012346
29 2015-02-12  0.003019   0.002099    0.007569    0.011031

In [14]:
result = result.rename(columns={
    '원자료(1~5)' : 'S&P500수익률표준편차(1~5)',
    '원자료(6~10)' : 'S&P500수익률표준편차(6~10)',
    '원자료(11~15)' : 'S&P500수익률표준편차(11~15)',
    '원자료(16~20)' : 'S&P500수익률표준편차(16~20)',    
})

In [15]:
result.head(30)

,날짜,S&P500수익률표준편차(1~5),S&P500수익률표준편차(6~10),S&P500수익률표준편차(11~15),S&P500수익률표준편차(16~20)
0,2014-12-31,NaN,NaN,NaN,NaN
1,2015-01-02,NaN,NaN,NaN,NaN
2,2015-01-05,NaN,NaN,NaN,NaN
3,2015-01-06,NaN,NaN,NaN,NaN
4,2015-01-07,0.011015,0.009895,0.010070,0.012068
5,2015-01-08,0.002678,0.008596,0.010858,0.009069
6,2015-01-09,0.009221,0.007530,0.013469,0.009059
7,2015-01-12,0.008750,0.010854,0.014082,0.007914
8,2015-01-13,0.008931,0.012148,0.011971,0.007331
9,2015-01-14,0.009895,0.010070,0.012068,0.007174
10,2015-01-15,0.008596,0.010858,0.009069,0.006364
11,2015-01-16,0.007530,0.013469,0.009059,0.004801
12,2015-01-20,0.010854,0.014082,0.007914,0.004115
13,2015-01-21,0.012148,0.011971,0.007331,0.004330
14,2015-01-22,0.010070,0.012068,0.007174,0.003019
15,2015-01-23,0.010858,0.009069,0.006364,0.002929
16,2015-01-26,0.013469,0.009059,0.004801,0.003012
17,2015-01-27,0.014082,0.007914,0.004115,0.003086
18,2015-01-28,0.011971,0.007331,0.004330,0.003173
19,2015-01-29,0.012068,0.007174,0.003019,0.002099
20,2015-01-30,0.009069,0.006364,0.002929,0.003672
21,2015-02-02,0.009059,0.004801,0.003012,0.004093
22,2015-02-03,0.007914,0.004115,0.003086,0.004415
23,2015-02-04,0.007331,0.004330,0.003173,0.004568
24,2015-02-05,0.007174,0.003019,0.002099,0.007569
25,2015-02-06,0.006364,0.002929,0.003672,0.006927
26,2015-02-09,0.004801,0.003012,0.004093,0.009193
27,2015-02-10,0.004115,0.003086,0.004415,0.009368
28,2015-02-11,0.004330,0.003173,0.004568,0.012346
29,2015-02-12,0.003019,0.002099,0.007569,0.011031

In [16]:
result.describe()

,날짜,S&P500수익률표준편차(1~5),S&P500수익률표준편차(6~10),S&P500수익률표준편차(11~15),S&P500수익률표준편차(16~20)
count,2517,2508.000000,2503.000000,2498.000000,2493.000000
mean,2019-12-31 01:38:24.171633152,0.008799,0.008800,0.008798,0.008791
min,2014-12-31 00:00:00,0.000521,0.000521,0.000521,0.000521
25%,2017-06-30 00:00:00,0.004470,0.004466,0.004457,0.004453
50%,2019-12-31 00:00:00,0.007120,0.007116,0.007087,0.007063
75%,2022-06-30 00:00:00,0.010795,0.010807,0.010782,0.010780
max,2024-12-31 00:00:00,0.094507,0.094507,0.094507,0.094507
std,NaN,0.007352,0.007358,0.007365,0.007370

In [17]:
macro_df = pd.read_csv('../data/macro_data.csv')

In [18]:
macro_df.columns

Index(['회사명', 'stock_code', '상장일', 'kospi200(-20)', 'nasdaq(-20)',
       'putcall(-20)', 'VIXCLS', '미국10년물국채금리수익률(-20)', '시장금리국고채3년',
       '환율변동률(-20)',
       ...
       '나스닥수익률표준편차(11~15)', '나스닥수익률표준편차(16~20)', 'S&P500수익률표준편차(1~5)',
       'S&P500수익률표준편차(6~10)', 'S&P500수익률표준편차(11~15)', 'S&P500수익률표준편차(16~20)',
       '원달러환율수익률표준편차(1~5)', '원달러환율수익률표준편차(6~10)', '원달러환율수익률표준편차(11~15)',
       '원달러환율수익률표준편차(16~20)'],
      dtype='object', length=176)

In [19]:
# 1) Convert both columns to datetime
macro_df['상장일'] = pd.to_datetime(macro_df['상장일'])
result['날짜'] = pd.to_datetime(result['날짜'])

# 2) Sort both DataFrames by their date keys
merged_full = macro_df.sort_values('상장일').reset_index(drop=True)
result = result.sort_values('날짜').reset_index(drop=True)

merged_full = pd.merge_asof(
    merged_full,
    result,
    left_on='상장일',
    right_on='날짜',
    direction='backward'   # 상장일 당일 또는 그 이전의 가장 가까운 거래일
).drop(columns=['날짜'])

In [20]:
merged_full.columns

Index(['회사명', 'stock_code', '상장일', 'kospi200(-20)', 'nasdaq(-20)',
       'putcall(-20)', 'VIXCLS', '미국10년물국채금리수익률(-20)', '시장금리국고채3년',
       '환율변동률(-20)',
       ...
       'S&P500수익률표준편차(11~15)_x', 'S&P500수익률표준편차(16~20)_x', '원달러환율수익률표준편차(1~5)',
       '원달러환율수익률표준편차(6~10)', '원달러환율수익률표준편차(11~15)', '원달러환율수익률표준편차(16~20)',
       'S&P500수익률표준편차(1~5)_y', 'S&P500수익률표준편차(6~10)_y',
       'S&P500수익률표준편차(11~15)_y', 'S&P500수익률표준편차(16~20)_y'],
      dtype='object', length=180)

In [21]:
merged_full.to_csv('macro_data.csv', encoding='utf-8-sig', index=False)

In [24]:
merged_full[['S&P500수익률표준편차(1~5)_x', 'S&P500수익률표준편차(6~10)_x', 'S&P500수익률표준편차(11~15)_x', 'S&P500수익률표준편차(16~20)_x']].describe()

,S&P500수익률표준편차(1~5)_x,S&P500수익률표준편차(6~10)_x,S&P500수익률표준편차(11~15)_x,S&P500수익률표준편차(16~20)_x
count,533.000000,533.000000,533.000000,533.000000
mean,0.009240,0.009231,0.008897,0.009260
std,0.007867,0.009208,0.007584,0.007376
min,0.000802,0.001283,0.000521,0.001160
25%,0.004476,0.004170,0.004163,0.004298
50%,0.007725,0.007123,0.006951,0.007828
75%,0.011772,0.011278,0.011295,0.012016
max,0.085521,0.094507,0.067133,0.085521

In [25]:
merged_full[['S&P500수익률표준편차(1~5)_y', 'S&P500수익률표준편차(6~10)_y', 'S&P500수익률표준편차(11~15)_y', 'S&P500수익률표준편차(16~20)_y']].describe()

,S&P500수익률표준편차(1~5)_y,S&P500수익률표준편차(6~10)_y,S&P500수익률표준편차(11~15)_y,S&P500수익률표준편차(16~20)_y
count,533.000000,533.000000,533.000000,533.000000
mean,0.009240,0.009231,0.008897,0.009260
std,0.007867,0.009208,0.007584,0.007376
min,0.000802,0.001283,0.000521,0.001160
25%,0.004476,0.004170,0.004163,0.004298
50%,0.007725,0.007123,0.006951,0.007828
75%,0.011772,0.011278,0.011295,0.012016
max,0.085521,0.094507,0.067133,0.085521

In [29]:
merged_full[merged_full['S&P500수익률표준편차(6~10)_x'] == merged_full['S&P500수익률표준편차(6~10)_x'].max()]

,회사명,stock_code,상장일,kospi200(-20),nasdaq(-20),putcall(-20),VIXCLS,미국10년물국채금리수익률(-20),시장금리국고채3년,환율변동률(-20),...,S&P500수익률표준편차(11~15)_x,S&P500수익률표준편차(16~20)_x,원달러환율수익률표준편차(1~5),원달러환율수익률표준편차(6~10),원달러환율수익률표준편차(11~15),원달러환율수익률표준편차(16~20),S&P500수익률표준편차(1~5)_y,S&P500수익률표준편차(6~10)_y,S&P500수익률표준편차(11~15)_y,S&P500수익률표준편차(16~20)_y
311,제이앤티씨,204270,2020-03-04,0.617663,-0.082793,0.22,31.99,-0.394178,1.029,0.009164,...,0.053422,0.045712,0.006054,0.003487,0.020982,0.004697,0.047011,0.094507,0.053422,0.045712

In [31]:
# 최대값에 해당하는 행 한 줄 선택
row = merged_full.loc[merged_full['S&P500수익률표준편차(6~10)_x'].idxmax()]

# 해당 행에서 원하는 _y 컬럼만 선택
row_subset = row[['S&P500수익률표준편차(1~5)_y',
                  'S&P500수익률표준편차(6~10)_y',
                  'S&P500수익률표준편차(11~15)_y',
                  'S&P500수익률표준편차(16~20)_y']]

# 통계 요약 출력
row_subset.describe()

count     4.000000
unique    4.000000
top       0.047011
freq      1.000000
Name: 311, dtype: float64

In [32]:
merged_full.loc[merged_full['S&P500수익률표준편차(6~10)_x'].idxmax(), 
                ['S&P500수익률표준편차(1~5)_y',
                 'S&P500수익률표준편차(6~10)_y',
                 'S&P500수익률표준편차(11~15)_y',
                 'S&P500수익률표준편차(16~20)_y']]

S&P500수익률표준편차(1~5)_y      0.047011
S&P500수익률표준편차(6~10)_y     0.094507
S&P500수익률표준편차(11~15)_y    0.053422
S&P500수익률표준편차(16~20)_y    0.045712
Name: 311, dtype: object