In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('../data/final_ratio_copy2.csv')

In [5]:
df.columns

Index(['회사명_d1', 'stock_code', '업종', '상장주선인', '공모가 (원)', '공모금액 (천원)',
       '최초상장주식수 (주)', 'call', 'kospi', 'modified_esi', '6개월 확약', '3개월 확약',
       '1개월 확약', '15일 확약', '미확약', '수요예측_최종값', '회사명_bs', 'corp_code', '상장일',
       '업력', '유동자산', '유동부채', '부채총계', '자본금', '자본총계', '매출액', '영업이익', '당기순이익',
       'target', 'TA', 'WC', 'log_TA', 'log_S', 'capital_deficit',
       'wc_neg_dummy', 'ta_negative', 'current_ratio', 'wc_sales', 'wc_ta',
       'cl_tl', 'de_ratio', 'equity_ratio', 'cs_te', 'debt_asset', 'op_margin',
       'net_margin', 'roe', 'roe_sign_dummy', 'roe_nan', 'roa', 'oi_ta',
       'ni_oi_ratio', 'asset_turnover', 'sales_equity', 'z_simplified',
       'WICS_large'],
      dtype='object')

In [9]:
df_final = df.copy()

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 657 entries, 0 to 656
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   회사명      657 non-null    object
 1   공모가 (원)  657 non-null    float64
dtypes: float64(1), object(1)
memory usage: 10.4+ KB

In [10]:
df = df[['회사명_d1', '공모가 (원)']]

df.head()

   회사명_d1  공모가 (원)
0  엠앤씨솔루션  65000.0
1   더본코리아  34000.0
2  전진건설로봇  16500.0
3    산일전기  35000.0
4    시프트업  60000.0

In [57]:
len(df['회사명'].unique())

657

In [ ]:
df1= pd.read_csv('../data/TS2000_주가/KOSDAQ_881_stock_data.csv')

In [16]:
df1.columns

Index(['회사명', '거래소코드', '회계년도', '종목코드(축약)', '매매년월일', '상장주식수(주)', '액면가(원)',
       '시가(원)', '고가(원)', '종가(원)', '거래량(주)', '거래대금(원)'],
      dtype='object')

In [ ]:
df2 = pd.read_csv('../data/TS2000_주가/KOSPI_110_stock_data.csv')

In [18]:
df2.columns

Index(['회사명', '거래소코드', '회계년도', '종목코드(축약)', '매매년월일', '상장주식수(주)', '액면가(원)',
       '시가(원)', '고가(원)', '종가(원)', '거래량(주)', '거래대금(원)'],
      dtype='object')

In [19]:
df_merge = pd.concat([df1, df2])

In [55]:
len(df_merge['회사명'].unique())

991

In [20]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1043422 entries, 0 to 139994
Data columns (total 12 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   회사명       1043422 non-null  object
 1   거래소코드     1043422 non-null  int64
 2   회계년도      1043422 non-null  object
 3   종목코드(축약)  1043422 non-null  int64
 4   매매년월일     1043422 non-null  object
 5   상장주식수(주)  1043422 non-null  object
 6   액면가(원)    1043422 non-null  object
 7   시가(원)     1043422 non-null  object
 8   고가(원)     1043422 non-null  object
 9   종가(원)     1043422 non-null  object
 10  거래량(주)    1043422 non-null  object
 11  거래대금(원)   1043422 non-null  object
dtypes: int64(2), object(10)
memory usage: 103.5+ MB

In [27]:
df.rename(columns={'회사명_d1': '회사명'}, inplace=True)


df.head()

      회사명  공모가 (원)
0  엠앤씨솔루션  65000.0
1   더본코리아  34000.0
2  전진건설로봇  16500.0
3    산일전기  35000.0
4    시프트업  60000.0

In [22]:
df_merge.head()

,회사명,거래소코드,회계년도,종목코드(축약),매매년월일,상장주식수(주),액면가(원),시가(원),고가(원),종가(원),거래량(주),거래대금(원)
0,가온칩스,399720,2022/05/20,399720,2022/05/20,"11,488,320",500,"24,150","30,500","27,100","19,492,306","499,287,960,850"
1,가온칩스,399720,2022/05/23,399720,2022/05/23,"11,488,320",500,"26,400","32,000","26,500","11,860,501","351,710,373,200"
2,가온칩스,399720,2022/05/24,399720,2022/05/24,"11,488,320",500,"26,650","31,500","30,500","9,796,109","283,808,502,900"
3,가온칩스,399720,2022/05/25,399720,2022/05/25,"11,488,320",500,"29,650","29,900","28,200","2,555,025","73,653,148,400"
4,가온칩스,399720,2022/05/26,399720,2022/05/26,"11,488,320",500,"28,550","29,650","27,000","1,966,784","56,029,873,850"

In [23]:
df_merge2 = df.copy()

df_merge = df_merge[['회사명', '회계년도', '종가(원)']]

In [32]:
df_merge.columns
df_merge.head()

    회사명        회계년도   종가(원)
0  가온칩스  2022/05/20  27,100
1  가온칩스  2022/05/23  26,500
2  가온칩스  2022/05/24  30,500
3  가온칩스  2022/05/25  28,200
4  가온칩스  2022/05/26  27,000

In [ ]:
df_merge2 = df_merge.merge(df[['회사명', '공모가 (원)']], on='회사명', how='left')

unique = df_merge2['회사명'].unique()
unique

In [45]:
df_merge2[df_merge2['회사명'].isin(unique)]

                 회사명        회계년도   종가(원)  공모가 (원)
0               가온칩스  2022/05/20  27,100  14000.0
1               가온칩스  2022/05/23  26,500  14000.0
2               가온칩스  2022/05/24  30,500  14000.0
3               가온칩스  2022/05/25  28,200  14000.0
4               가온칩스  2022/05/26  27,000  14000.0
...              ...         ...     ...      ...
1043417  화승엔터프라이즈보통주  2024/12/23   8,610      NaN
1043418  화승엔터프라이즈보통주  2024/12/24   8,440      NaN
1043419  화승엔터프라이즈보통주  2024/12/26   8,390      NaN
1043420  화승엔터프라이즈보통주  2024/12/27   8,640      NaN
1043421  화승엔터프라이즈보통주  2024/12/30   8,650      NaN

[1043422 rows x 4 columns]

In [35]:
df_merge2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1043422 entries, 0 to 1043421
Data columns (total 4 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   회사명      1043422 non-null  object
 1   회계년도     1043422 non-null  object
 2   종가(원)    1043422 non-null  object
 3   공모가 (원)  473562 non-null   float64
dtypes: float64(1), object(3)
memory usage: 31.8+ MB

In [ ]:
unique_names_with_price = df_merge2[df_merge2['공모가 (원)'].notna()]['회사명'].unique()
len(unique_names_with_price)

465

In [58]:
import pandas as pd

# df 불러오기 및 전처리
df = pd.read_csv('../data/final_ratio_copy2.csv')
df = df[['회사명_d1', '공모가 (원)']]
df.rename(columns={'회사명_d1': '회사명'}, inplace=True)

# df1, df2 불러오기 및 합치기
df1 = pd.read_csv('../data/TS2000_주가/KOSDAQ_881_stock_data.csv')
df2 = pd.read_csv('../data/TS2000_주가/KOSPI_110_stock_data.csv')
df_merge = pd.concat([df1, df2])
df_merge = df_merge[['회사명', '회계년도', '종가(원)']]

# df에 있는 회사명 집합
companies_in_df = set(df['회사명'].unique())

# df_merge에 있는 회사명 집합
companies_in_df_merge = set(df_merge['회사명'].unique())

# df에는 있지만 df_merge에는 없는 회사명들
companies_only_in_df = companies_in_df - companies_in_df_merge

print(f"df에 있는 유니크한 회사 수: {len(companies_in_df)}개")
print(f"df_merge에 있는 유니크한 회사 수: {len(companies_in_df_merge)}개")
print(f"df에는 있지만 df_merge에는 없는 회사 수: {len(companies_only_in_df)}개")
print(f"df에는 있지만 df_merge에는 없는 회사 목록 (일부): {list(companies_only_in_df)[:10]}") # 처음 10개만 출력

C:\Users\Ph.D.Huh\AppData\Local\Temp\ipykernel_69612\2464434488.py:9: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('../data/TS2000_주가/KOSDAQ_881_stock_data.csv')
C:\Users\Ph.D.Huh\AppData\Local\Temp\ipykernel_69612\2464434488.py:10: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('../data/TS2000_주가/KOSPI_110_stock_data.csv')

df에 있는 유니크한 회사 수: 657개
df_merge에 있는 유니크한 회사 수: 991개
df에는 있지만 df_merge에는 없는 회사 수: 192개
df에는 있지만 df_merge에는 없는 회사 목록 (일부): ['아시아나IDT', '에스와이패널', '시프트업', '대유위니아', '스코넥', '베스파', '에어부산', '쏘카', '민앤지', '우진아이엔에스']

In [59]:
# 예시: 종가(원) 컬럼 전처리 (필요시)
df_merge['종가(원)'] = df_merge['종가(원)'].str.replace(',', '').astype(float)

In [60]:
unique_names_with_price = df_merge2[df_merge2['공모가 (원)'].notna()]['회사명'].unique()
len(unique_names_with_price)

465

In [61]:
import pandas as pd

# df 불러오기 및 전처리
df = pd.read_csv('../data/final_ratio_copy2.csv')
df = df[['회사명_d1', '공모가 (원)']]
df.rename(columns={'회사명_d1': '회사명'}, inplace=True)

# df1, df2 불러오기 및 합치기
# DtypeWarning을 명시적으로 처리하고 싶다면 dtype을 지정하거나, read_csv 후 타입을 변환할 수 있습니다.
# 여기서는 회사명 전처리에 집중하므로 일단 read_csv는 그대로 둡니다.
df1 = pd.read_csv('../data/TS2000_주가/KOSDAQ_881_stock_data.csv')
df2 = pd.read_csv('../data/TS2000_주가/KOSPI_110_stock_data.csv')
df_merge_raw = pd.concat([df1, df2]) # 전처리 전 원본 df_merge 이름을 다르게 저장

df_merge = df_merge_raw[['회사명', '회계년도', '종가(원)']].copy() # SettingWithCopyWarning 방지 위해 .copy() 사용

# --- 회사명 전처리 ---
# 1. 양쪽 데이터프레임의 '회사명' 컬럼을 문자열 타입으로 강제 변환
df['회사명'] = df['회사명'].astype(str)
df_merge['회사명'] = df_merge['회사명'].astype(str)

# 2. 모든 공백 제거 (띄어쓰기, 탭 등)
df['회사명'] = df['회사명'].str.replace(r'\s+', '', regex=True)
df_merge['회사명'] = df_merge['회사명'].str.replace(r'\s+', '', regex=True)

# 3. 영문 대소문자 통일 (모두 대문자 또는 소문자)
df['회사명'] = df['회사명'].str.upper()
df_merge['회사명'] = df_merge['회사명'].str.upper()

# 4. 특수문자 제거 (예: (주), 주식회사 등. 필요시 추가)
# 예시: 괄호와 그 안의 내용 제거
df['회사명'] = df['회사명'].str.replace(r'\([^)]*\)', '', regex=True)
df_merge['회사명'] = df_merge['회사명'].str.replace(r'\([^)]*\)', '', regex=True)

# 예시: '주식회사'나 '(주)' 제거 (더 포괄적으로)
df['회사명'] = df['회사명'].str.replace(r'(주식회사|\(주\))', '', regex=True)
df_merge['회사명'] = df_merge['회사명'].str.replace(r'(주식회사|\(주\))', '', regex=True)


# 5. 불필요한 공백 다시 제거 (앞선 작업으로 인해 생길 수 있는 양쪽 끝 공백)
df['회사명'] = df['회사명'].str.strip()
df_merge['회사명'] = df_merge['회사명'].str.strip()


# --- 병합 및 확인 ---
df_merge2 = df_merge.merge(df[['회사명', '공모가 (원)']], on='회사명', how='left')

unique_names_with_price = df_merge2[df_merge2['공모가 (원)'].notna()]['회사명'].unique()
print(f"전처리 후, 공모가 정보가 있는 유니크한 회사 수: {len(unique_names_with_price)}")

# 다시 매칭되지 않은 회사 목록 확인
companies_in_df_after_clean = set(df['회사명'].unique())
companies_in_df_merge_after_clean = set(df_merge['회사명'].unique())
companies_still_only_in_df = companies_in_df_after_clean - companies_in_df_merge_after_clean

print(f"전처리 후 df에는 있지만 df_merge에는 없는 회사 수: {len(companies_still_only_in_df)}개")
print(f"전처리 후 df에는 있지만 df_merge에는 없는 회사 목록 (일부): {list(companies_still_only_in_df)[:10]}")

C:\Users\Ph.D.Huh\AppData\Local\Temp\ipykernel_69612\209108864.py:11: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('../data/TS2000_주가/KOSDAQ_881_stock_data.csv')
C:\Users\Ph.D.Huh\AppData\Local\Temp\ipykernel_69612\209108864.py:12: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('../data/TS2000_주가/KOSPI_110_stock_data.csv')

전처리 후, 공모가 정보가 있는 유니크한 회사 수: 472
전처리 후 df에는 있지만 df_merge에는 없는 회사 수: 185개
전처리 후 df에는 있지만 df_merge에는 없는 회사 목록 (일부): ['아시아나IDT', '에스와이패널', '시프트업', '엘에스전선아시아', '대유위니아', '스코넥', '베스파', '에어부산', '쏘카', '민앤지']

In [62]:
# 특정 회사명 불일치 확인 예시 (위 전처리 코드 실행 후)
company_name_to_check = '대유위니아' # 전처리된 이름으로 확인

if company_name_to_check in companies_in_df_after_clean and \
   company_name_to_check not in companies_in_df_merge_after_clean:

    print(f"\n'{company_name_to_check}'는 전처리 후에도 df에는 있지만 df_merge에는 없습니다.")

    # 각 데이터프레임에서 실제 저장된 값 확인
    df_val = df[df['회사명'] == company_name_to_check]['회사명'].iloc[0] if company_name_to_check in df['회사명'].unique() else "df에 없음"
    df_merge_val = df_merge[df_merge['회사명'] == company_name_to_check]['회사명'].iloc[0] if company_name_to_check in df_merge['회사명'].unique() else "df_merge에 없음"

    print(f"df에서 '{company_name_to_check}'의 실제 값: '{df_val}' (길이: {len(df_val) if isinstance(df_val, str) else 'N/A'})")
    print(f"df_merge에서 '{company_name_to_check}'의 실제 값: '{df_merge_val}' (길이: {len(df_merge_val) if isinstance(df_merge_val, str) else 'N/A'})")

    # 더 자세한 문자열 비교 (유니코드 값 확인)
    if isinstance(df_val, str) and isinstance(df_merge_val, str):
        if df_val != "df에 없음" and df_merge_val != "df_merge에 없음":
            print(f"df_val 유니코드: {[ord(c) for c in df_val]}")
            print(f"df_merge_val 유니코드: {[ord(c) for c in df_merge_val]}")

'대유위니아'는 전처리 후에도 df에는 있지만 df_merge에는 없습니다.
df에서 '대유위니아'의 실제 값: '대유위니아' (길이: 5)
df_merge에서 '대유위니아'의 실제 값: 'df_merge에 없음' (길이: 12)

In [63]:
# --- 특정 회사명 불일치 확인 ---
company_name_to_check = '대유위니아'

# df에 '대유위니아'가 실제로 있는지 확인
is_in_df = company_name_to_check in df['회사명'].unique()
# df_merge에 '대유위니아'가 실제로 있는지 확인
is_in_df_merge = company_name_to_check in df_merge['회사명'].unique()

print(f"'{company_name_to_check}'는 전처리 후 df에 존재합니까? {is_in_df}")
print(f"'{company_name_to_check}'는 전처리 후 df_merge에 존재합니까? {is_in_df_merge}")


if is_in_df:
    df_val = df[df['회사명'] == company_name_to_check]['회사명'].iloc[0]
    print(f"df에서 '{company_name_to_check}'의 실제 값: '{df_val}' (길이: {len(df_val)})")
    print(f"df_val 유니코드: {[ord(c) for c in df_val]}")
else:
    print(f"'{company_name_to_check}'는 df에서 찾을 수 없습니다 (전처리 후).")


if is_in_df_merge:
    df_merge_val = df_merge[df_merge['회사명'] == company_name_to_check]['회사명'].iloc[0]
    print(f"df_merge에서 '{company_name_to_check}'의 실제 값: '{df_merge_val}' (길이: {len(df_merge_val)})")
    print(f"df_merge_val 유니코드: {[ord(c) for c in df_merge_val]}") # 이 부분을 추가하여 df_merge 쪽 유니코드도 확인합니다.
else:
    print(f"'{company_name_to_check}'는 df_merge에서 찾을 수 없습니다 (전처리 후).")

'대유위니아'는 전처리 후 df에 존재합니까? True
'대유위니아'는 전처리 후 df_merge에 존재합니까? False
df에서 '대유위니아'의 실제 값: '대유위니아' (길이: 5)
df_val 유니코드: [45824, 50976, 50948, 45768, 50500]
'대유위니아'는 df_merge에서 찾을 수 없습니다 (전처리 후).