In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('../data/주가수익률_WIDE.csv')

In [6]:
df.columns

Index(['회사명', '1~5일 수익률 표준편차', '6~10일 수익률 표준편차', '11~15일 수익률 표준편차',
       '16~20일 수익률 표준편차'],
      dtype='object')

In [7]:
df2 = pd.read_csv('../data/final_ratio_copy2.csv')

In [8]:
df2.columns

Index(['회사명_d1', 'stock_code', '업종', '상장주선인', '공모가 (원)', '공모금액 (천원)',
       '최초상장주식수 (주)', 'call', 'kospi', 'modified_esi', '6개월 확약', '3개월 확약',
       '1개월 확약', '15일 확약', '미확약', '수요예측_최종값', '회사명_bs', 'corp_code', '상장일',
       '업력', '유동자산', '유동부채', '부채총계', '자본금', '자본총계', '매출액', '영업이익', '당기순이익',
       'target', 'TA', 'WC', 'log_TA', 'log_S', 'capital_deficit',
       'wc_neg_dummy', 'ta_negative', 'current_ratio', 'wc_sales', 'wc_ta',
       'cl_tl', 'de_ratio', 'equity_ratio', 'cs_te', 'debt_asset', 'op_margin',
       'net_margin', 'roe', 'roe_sign_dummy', 'roe_nan', 'roa', 'oi_ta',
       'ni_oi_ratio', 'asset_turnover', 'sales_equity', 'z_simplified',
       'WICS_large'],
      dtype='object')

In [9]:
df2 = df2[['회사명_d1', 'stock_code']]

In [10]:
df2

     회사명_d1  stock_code
0    엠앤씨솔루션      484870
1     더본코리아      475560
2    전진건설로봇       79900
3      산일전기       62040
4      시프트업      462870
..      ...         ...
652    싸이맥스      160980
653   픽셀플러스       87600
654   제노포커스      187420
655    유지인트      195990
656    포시에스      189690

[657 rows x 2 columns]

In [13]:
df2.rename(columns={'회사명_d1': '회사명'}, inplace=True)

In [17]:
df2.columns

Index(['회사명', 'stock_code'], dtype='object')

In [ ]:
merged_df = df.merge(df2, on='회사명', how='left')

In [20]:
merged_df.to_csv('주가수익률_final.csv')