In [16]:
import pandas as pd

In [17]:
df = pd.read_csv('../data/주가수익률/final_ratio_copy2.csv')

In [18]:
final_df = df[['회사명_d1', 'stock_code', '공모가 (원)']]
final_df.head()

   회사명_d1  stock_code  공모가 (원)
0  엠앤씨솔루션      484870  65000.0
1   더본코리아      475560  34000.0
2  전진건설로봇       79900  16500.0
3    산일전기       62040  35000.0
4    시프트업      462870  60000.0

In [19]:
df1 = pd.read_csv('C:/Users/Ph.D.Huh/Documents/GitHub/UbionProject1_IPO/data/raw/TS_Data/KOSPI_110_stock_data.csv')

C:\Users\Ph.D.Huh\AppData\Local\Temp\ipykernel_71476\1917119410.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('C:/Users/Ph.D.Huh/Documents/GitHub/UbionProject1_IPO/data/raw/TS_Data/KOSPI_110_stock_data.csv')

In [20]:
df2 = pd.read_csv('C:/Users/Ph.D.Huh/Documents/GitHub/UbionProject1_IPO/data/raw/TS_Data/KOSDAQ_881_stock_data.csv')

C:\Users\Ph.D.Huh\AppData\Local\Temp\ipykernel_71476\3317744289.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('C:/Users/Ph.D.Huh/Documents/GitHub/UbionProject1_IPO/data/raw/TS_Data/KOSDAQ_881_stock_data.csv')

In [21]:
merged_df = pd.concat([df1, df2])

In [22]:
merged_df.head()

,회사명,거래소코드,회계년도,종목코드(축약),매매년월일,상장주식수(주),액면가(원),시가(원),고가(원),종가(원),거래량(주),거래대금(원)
0,AJ네트웍스보통주,95570,2015/08/21,95570,2015/08/21,"9,364,459","5,000","30,900","36,500","35,500","1,994,022","64,841,739,950"
1,AJ네트웍스보통주,95570,2015/08/24,95570,2015/08/24,"9,364,459","5,000","33,500","34,700","32,400","392,831","12,926,256,800"
2,AJ네트웍스보통주,95570,2015/08/25,95570,2015/08/25,"9,364,459","5,000","33,050","33,650","31,100","242,730","7,808,534,250"
3,AJ네트웍스보통주,95570,2015/08/26,95570,2015/08/26,"9,364,459","5,000","31,300","38,800","35,450","703,721","25,144,972,800"
4,AJ네트웍스보통주,95570,2015/08/27,95570,2015/08/27,"9,364,459","5,000","36,200","40,300","37,850","499,913","18,764,860,300"

In [23]:
merged_df = merged_df[['회사명', '회계년도', '종목코드(축약)', '종가(원)']]

In [24]:
merged_df.head()

         회사명        회계년도  종목코드(축약)   종가(원)
0  AJ네트웍스보통주  2015/08/21     95570  35,500
1  AJ네트웍스보통주  2015/08/24     95570  32,400
2  AJ네트웍스보통주  2015/08/25     95570  31,100
3  AJ네트웍스보통주  2015/08/26     95570  35,450
4  AJ네트웍스보통주  2015/08/27     95570  37,850

In [25]:
final_df.head()

   회사명_d1  stock_code  공모가 (원)
0  엠앤씨솔루션      484870  65000.0
1   더본코리아      475560  34000.0
2  전진건설로봇       79900  16500.0
3    산일전기       62040  35000.0
4    시프트업      462870  60000.0

In [28]:
df3 = pd.read_csv('C:/Users/Ph.D.Huh/Documents/GitHub/UbionProject1_IPO/Trash/stock_no_specs.csv')

In [29]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 670 entries, 0 to 669
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   회사명          670 non-null    object
 1   종목코드         670 non-null    int64
 2   상장일          670 non-null    object
 3   상장유형         670 non-null    object
 4   증권구분         670 non-null    object
 5   업종           669 non-null    object
 6   국적           670 non-null    object
 7   상장주선인        670 non-null    object
 8   액면가 (원)      670 non-null    object
 9   공모가 (원)      670 non-null    object
 10  공모금액 (천원)    670 non-null    object
 11  주요제품         666 non-null    object
 12  최초상장주식수 (주)  670 non-null    object
dtypes: int64(1), object(12)
memory usage: 68.2+ KB

In [31]:
df4 = pd.read_csv('C:/Users/Ph.D.Huh/Documents/GitHub/UbionProject1_IPO/Trash/spec.csv')

In [32]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288 entries, 0 to 287
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   회사명          288 non-null    object
 1   종목코드         288 non-null    int64
 2   상장일          288 non-null    object
 3   상장유형         288 non-null    object
 4   증권구분         288 non-null    object
 5   업종           288 non-null    object
 6   국적           288 non-null    object
 7   상장주선인        288 non-null    object
 8   액면가 (원)      288 non-null    int64
 9   공모가 (원)      288 non-null    object
 10  공모금액 (천원)    288 non-null    object
 11  주요제품         276 non-null    object
 12  최초상장주식수 (주)  288 non-null    object
dtypes: int64(2), object(11)
memory usage: 29.4+ KB

In [33]:
merged_df = merged_df[~merged_df['회사명'].isin(df4['회사명'])]

In [34]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1043422 entries, 0 to 903426
Data columns (total 4 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   회사명       1043422 non-null  object
 1   회계년도      1043422 non-null  object
 2   종목코드(축약)  1043422 non-null  int64
 3   종가(원)     1043422 non-null  object
dtypes: int64(1), object(3)
memory usage: 39.8+ MB

In [35]:
merged_df[merged_df['회사명'].str.contains('스팩', na=False)]

Empty DataFrame
Columns: [회사명, 회계년도, 종목코드(축약), 종가(원)]
Index: []

In [36]:
merged_df = merged_df[~merged_df['회사명'].str.contains('인수목적', na=False)]

In [37]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 954858 entries, 0 to 903426
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   회사명       954858 non-null  object
 1   회계년도      954858 non-null  object
 2   종목코드(축약)  954858 non-null  int64
 3   종가(원)     954858 non-null  object
dtypes: int64(1), object(3)
memory usage: 36.4+ MB

In [38]:
merged_df['회사명'] = merged_df['회사명'].str.replace('보통주', '', regex=False).str.strip()

In [39]:
len(merged_df['회사명'].unique())

794

In [40]:
spac_to_remove = ['케이프이에스제4호', '엔에이치스펙5호', '하나금융7호SPAC', '코디엠', '한국자산신탁',
                  '미래에셋생명', '코리아에셋투자증권', '미래에셋벤처투자', '윙입푸드',
                  '아주IB투자', '나우아이비캐피탈', '카카오뱅크', '아이엔지생명']

merged_df = merged_df[~merged_df['회사명'].isin(spac_to_remove)]

In [41]:
len(merged_df['회사명'].unique())

789

In [42]:
missing_companies = final_df[~final_df['회사명_d1'].isin(merged_df['회사명'])]
missing_companies

        회사명_d1  stock_code   공모가 (원)
5    HD현대마린솔루션      443060   83400.0
18       현대중공업      329180   60000.0
26   SK바이오사이언스      302440   65000.0
31         빅히트      352820  135000.0
33       센트랄모텍      308170    6000.0
..         ...         ...       ...
649       에스엔텍      160600    6500.0
650       코아스템      166480   16000.0
651     세미콘라이트      214310   11300.0
654      제노포커스      187420   11000.0
655       유지인트      195990   15000.0

[128 rows x 3 columns]

In [43]:
final_df['회사명_d1']

0      엠앤씨솔루션
1       더본코리아
2      전진건설로봇
3        산일전기
4        시프트업
        ...
652      싸이맥스
653     픽셀플러스
654     제노포커스
655      유지인트
656      포시에스
Name: 회사명_d1, Length: 657, dtype: object

In [44]:
merged_df[merged_df['종목코드(축약)'] == 302440]

               회사명        회계년도  종목코드(축약)    종가(원)
73727  에스케이바이오사이언스  2021/03/18    302440  169,000
73728  에스케이바이오사이언스  2021/03/19    302440  166,500
73729  에스케이바이오사이언스  2021/03/22    302440  144,000
73730  에스케이바이오사이언스  2021/03/23    302440  140,500
73731  에스케이바이오사이언스  2021/03/24    302440  136,500
...            ...         ...       ...      ...
74655  에스케이바이오사이언스  2024/12/23    302440   52,500
74656  에스케이바이오사이언스  2024/12/24    302440   50,300
74657  에스케이바이오사이언스  2024/12/26    302440   49,250
74658  에스케이바이오사이언스  2024/12/27    302440   49,950
74659  에스케이바이오사이언스  2024/12/30    302440   50,400

[933 rows x 4 columns]

In [45]:
result_df = pd.merge(final_df, merged_df, left_on='stock_code', right_on='종목코드(축약)', how='inner')

In [46]:
result_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 743628 entries, 0 to 743627
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   회사명_d1      743628 non-null  object
 1   stock_code  743628 non-null  int64
 2   공모가 (원)     743628 non-null  float64
 3   회사명         743628 non-null  object
 4   회계년도        743628 non-null  object
 5   종목코드(축약)    743628 non-null  int64
 6   종가(원)       743628 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 39.7+ MB

In [47]:
len(result_df['회사명'].unique())

657

In [48]:
# 1. 특정 컬럼 삭제
result_df = result_df.drop(columns=['회사명', 'stock_code', '종목코드(축약)'])

# 2. 컬럼명 변경
result_df = result_df.rename(columns={'회사명_d1': '회사명'})

In [49]:
result_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 743628 entries, 0 to 743627
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   회사명      743628 non-null  object
 1   공모가 (원)  743628 non-null  float64
 2   회계년도     743628 non-null  object
 3   종가(원)    743628 non-null  object
dtypes: float64(1), object(3)
memory usage: 22.7+ MB

In [50]:
len(result_df['회사명'].unique())

657

In [51]:
result_df.head()

      회사명  공모가 (원)        회계년도   종가(원)
0  엠앤씨솔루션  65000.0  2024/12/16  51,800
1  엠앤씨솔루션  65000.0  2024/12/17  52,800
2  엠앤씨솔루션  65000.0  2024/12/18  52,900
3  엠앤씨솔루션  65000.0  2024/12/19  54,000
4  엠앤씨솔루션  65000.0  2024/12/20  49,700

In [52]:
import pandas as pd

# 날짜 타입 변환
result_df['회계년도'] = pd.to_datetime(result_df['회계년도'], errors='coerce')

# 숫자 타입 변환 (콤마 제거 포함)
result_df['종가(원)'] = result_df['종가(원)'].astype(str).str.replace(',', '', regex=False)
result_df['종가(원)'] = pd.to_numeric(result_df['종가(원)'], errors='coerce')

result_df['공모가 (원)'] = result_df['공모가 (원)'].astype(str).str.replace(',', '', regex=False)
result_df['공모가 (원)'] = pd.to_numeric(result_df['공모가 (원)'], errors='coerce')

# 회사명, 날짜 기준으로 정렬
result_df = result_df.sort_values(by=['회사명', '회계년도']).reset_index(drop=True)

# 이전 종가 컬럼 생성 (shift 사용, 같은 회사 내에서만)
result_df['prev_close'] = result_df.groupby('회사명')['종가(원)'].shift(1)

# 수익률 계산 (조건문 사용)
def calc_row_return(row):
    if pd.isna(row['prev_close']):  # 첫 거래일 (이전 종가 없음)
        return (row['종가(원)'] - row['공모가 (원)']) / row['공모가 (원)']
    else:
        return (row['종가(원)'] - row['prev_close']) / row['prev_close']

result_df['수익률'] = result_df.apply(calc_row_return, axis=1)

# 소수점 4자리로 반올림
result_df['수익률'] = result_df['수익률'].round(4)

# 'prev_close' 컬럼 제거
result_df = result_df.drop(columns=['prev_close'])

In [53]:
result_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 743628 entries, 0 to 743627
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   회사명      743628 non-null  object
 1   공모가 (원)  743628 non-null  float64
 2   회계년도     743628 non-null  datetime64[ns]
 3   종가(원)    743628 non-null  int64
 4   수익률      743628 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(1)
memory usage: 28.4+ MB

In [54]:
# 첫 날 수익률 = (첫 날 종가 / 공모가) - 1
# 첫 날 이외의 수익률 계산식 = (당일 종가 / 전 날 종가) - 1 
 
result_df['수익률']

0         0.0350
1        -0.0873
2        -0.0401
3         0.1399
4         0.0677
           ...
743623    0.0114
743624   -0.0099
743625   -0.0156
743626   -0.0043
743627    0.0029
Name: 수익률, Length: 743628, dtype: float64

In [55]:
result_df.head()

      회사명  공모가 (원)       회계년도  종가(원)     수익률
0  AJ네트웍스  34300.0 2015-08-21  35500  0.0350
1  AJ네트웍스  34300.0 2015-08-24  32400 -0.0873
2  AJ네트웍스  34300.0 2015-08-25  31100 -0.0401
3  AJ네트웍스  34300.0 2015-08-26  35450  0.1399
4  AJ네트웍스  34300.0 2015-08-27  37850  0.0677

In [56]:
# 1) 회사별 날짜 순서대로 일자 번호 붙이기
result_df['일자순번'] = result_df.groupby('회사명').cumcount() + 1

In [57]:
# 1) 회사별 날짜 순서대로 일자 번호 붙이기
result_df['일자순번'] = result_df.groupby('회사명').cumcount() + 1

# 2) 구간 나누기 함수
def 기간구간(day):
    if 1 <= day <= 5:
        return '1~5일'
    elif 6 <= day <= 10:
        return '6~10일'
    elif 11 <= day <= 15:
        return '11~15일'
    elif 16 <= day <= 20:
        return '16~20일'
    else:
        return '기타'

result_df['기간구간'] = result_df['일자순번'].apply(기간구간)

# 3) 회사별, 구간별 수익률 표준편차 계산 (Series 형태)
std_series = result_df.groupby(['회사명', '기간구간'])['수익률'].transform('std')

# 4) 새로운 컬럼으로 추가
result_df['수익률_표준편차'] = std_series

# 결과 확인
print(result_df[['회사명', '일자순번', '기간구간', '수익률', '수익률_표준편차']])

           회사명  일자순번  기간구간     수익률  수익률_표준편차
0       AJ네트웍스     1  1~5일  0.0350  0.089380
1       AJ네트웍스     2  1~5일 -0.0873  0.089380
2       AJ네트웍스     3  1~5일 -0.0401  0.089380
3       AJ네트웍스     4  1~5일  0.1399  0.089380
4       AJ네트웍스     5  1~5일  0.0677  0.089380
...        ...   ...   ...     ...       ...
743623      힘스  1825    기타  0.0114  0.035187
743624      힘스  1826    기타 -0.0099  0.035187
743625      힘스  1827    기타 -0.0156  0.035187
743626      힘스  1828    기타 -0.0043  0.035187
743627      힘스  1829    기타  0.0029  0.035187

[743628 rows x 5 columns]

In [ ]:
result_df.head(30)

In [59]:
result_df.to_csv('주가수익률_표준편차.csv', encoding='cp949')

In [60]:
len(result_df['회사명'].unique())

657

In [61]:
# 첫 날 수익률 = (첫 날 종가 / 공모가) - 1
# 첫 날 이외의 수익률 계산식 = (당일 종가 / 전 날 종가) - 1 
 
result_df['수익률']

0         0.0350
1        -0.0873
2        -0.0401
3         0.1399
4         0.0677
           ...
743623    0.0114
743624   -0.0099
743625   -0.0156
743626   -0.0043
743627    0.0029
Name: 수익률, Length: 743628, dtype: float64

In [63]:
result_df.head()

      회사명  공모가 (원)       회계년도  종가(원)     수익률  일자순번  기간구간  수익률_표준편차
0  AJ네트웍스  34300.0 2015-08-21  35500  0.0350     1  1~5일   0.08938
1  AJ네트웍스  34300.0 2015-08-24  32400 -0.0873     2  1~5일   0.08938
2  AJ네트웍스  34300.0 2015-08-25  31100 -0.0401     3  1~5일   0.08938
3  AJ네트웍스  34300.0 2015-08-26  35450  0.1399     4  1~5일   0.08938
4  AJ네트웍스  34300.0 2015-08-27  37850  0.0677     5  1~5일   0.08938

In [67]:
gi_df2 = pd.read_csv('../data/gi.csv')

In [68]:
gi_df = gi_df[['회사명', '상장일']]

In [69]:
gi_df.head()

        회사명         상장일
0     바이오노트  2022-12-22
1        쏘카  2022-08-22
2   수산인더스트리  2022-08-01
3  LG에너지솔루션  2022-01-27
4     카카오페이  2021-11-03

In [70]:
import pandas as pd

# 예시: 회사명 기준으로 inner join
merged_df = pd.merge(result_df, gi_df, on='회사명', how='inner')

In [71]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720492 entries, 0 to 720491
Data columns (total 9 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   회사명       720492 non-null  object
 1   공모가 (원)   720492 non-null  float64
 2   회계년도      720492 non-null  datetime64[ns]
 3   종가(원)     720492 non-null  int64
 4   수익률       720492 non-null  float64
 5   일자순번      720492 non-null  int64
 6   기간구간      720492 non-null  object
 7   수익률_표준편차  720492 non-null  float64
 8   상장일       720492 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(2), object(3)
memory usage: 49.5+ MB

In [72]:
len(merged_df['회사명'].unique())

533

In [73]:
merged_df.to_csv('주가수익률_gi.csv')

In [74]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720492 entries, 0 to 720491
Data columns (total 9 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   회사명       720492 non-null  object
 1   공모가 (원)   720492 non-null  float64
 2   회계년도      720492 non-null  datetime64[ns]
 3   종가(원)     720492 non-null  int64
 4   수익률       720492 non-null  float64
 5   일자순번      720492 non-null  int64
 6   기간구간      720492 non-null  object
 7   수익률_표준편차  720492 non-null  float64
 8   상장일       720492 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(2), object(3)
memory usage: 49.5+ MB

In [ ]:
merged_df