In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('C:/Users/Admin/Documents/GitHub/UbionProject1_IPO/Final_Folder/final_ratio_copy2.csv')

In [5]:
df.columns

Index(['회사명_d1', 'stock_code', '업종', '상장주선인', '공모가 (원)', '공모금액 (천원)',
       '최초상장주식수 (주)', 'call', 'kospi', 'modified_esi', '6개월 확약', '3개월 확약',
       '1개월 확약', '15일 확약', '미확약', '수요예측_최종값', '회사명_bs', 'corp_code', '상장일',
       '업력', '유동자산', '유동부채', '부채총계', '자본금', '자본총계', '매출액', '영업이익', '당기순이익',
       'target', 'TA', 'WC', 'log_TA', 'log_S', 'capital_deficit',
       'wc_neg_dummy', 'ta_negative', 'current_ratio', 'wc_sales', 'wc_ta',
       'cl_tl', 'de_ratio', 'equity_ratio', 'cs_te', 'debt_asset', 'op_margin',
       'net_margin', 'roe', 'roe_sign_dummy', 'roe_nan', 'roa', 'oi_ta',
       'ni_oi_ratio', 'asset_turnover', 'sales_equity', 'z_simplified',
       'WICS_large'],
      dtype='object')

In [6]:
final_df = df[['회사명_d1', 'stock_code', '공모가 (원)']]
final_df.head()

   회사명_d1  stock_code  공모가 (원)
0  엠앤씨솔루션      484870  65000.0
1   더본코리아      475560  34000.0
2  전진건설로봇       79900  16500.0
3    산일전기       62040  35000.0
4    시프트업      462870  60000.0

In [ ]:
df1 = pd.read_csv('C:/Users/Admin/Documents/GitHub/UbionProject1_IPO/data/raw/TS_Data/KOSPI_110_stock_data.csv')

C:\Users\Admin\AppData\Local\Temp\ipykernel_2452\3035567227.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('C:/Users/Admin/Documents/GitHub/UbionProject1_IPO/data/raw/TS_Data/KOSPI_110_stock_data.csv')

In [8]:
df1.columns

Index(['회사명', '거래소코드', '회계년도', '종목코드(축약)', '매매년월일', '상장주식수(주)', '액면가(원)',
       '시가(원)', '고가(원)', '종가(원)', '거래량(주)', '거래대금(원)'],
      dtype='object')

In [10]:
df2 = pd.read_csv('C:/Users/Admin/Documents/GitHub/UbionProject1_IPO/data/raw/TS_Data/KOSDAQ_881_stock_data.csv')

C:\Users\Admin\AppData\Local\Temp\ipykernel_2452\4159649632.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('C:/Users/Admin/Documents/GitHub/UbionProject1_IPO/data/raw/TS_Data/KOSDAQ_881_stock_data.csv')

In [12]:
merged_df = pd.concat([df1, df2])

In [13]:
merged_df.head()

,회사명,거래소코드,회계년도,종목코드(축약),매매년월일,상장주식수(주),액면가(원),시가(원),고가(원),종가(원),거래량(주),거래대금(원)
0,AJ네트웍스보통주,95570,2015/08/21,95570,2015/08/21,"9,364,459","5,000","30,900","36,500","35,500","1,994,022","64,841,739,950"
1,AJ네트웍스보통주,95570,2015/08/24,95570,2015/08/24,"9,364,459","5,000","33,500","34,700","32,400","392,831","12,926,256,800"
2,AJ네트웍스보통주,95570,2015/08/25,95570,2015/08/25,"9,364,459","5,000","33,050","33,650","31,100","242,730","7,808,534,250"
3,AJ네트웍스보통주,95570,2015/08/26,95570,2015/08/26,"9,364,459","5,000","31,300","38,800","35,450","703,721","25,144,972,800"
4,AJ네트웍스보통주,95570,2015/08/27,95570,2015/08/27,"9,364,459","5,000","36,200","40,300","37,850","499,913","18,764,860,300"

In [15]:
merged_df = merged_df[['회사명', '회계년도', '종목코드(축약)', '종가(원)']]

In [16]:
merged_df.head()

         회사명        회계년도  종목코드(축약)   종가(원)
0  AJ네트웍스보통주  2015/08/21     95570  35,500
1  AJ네트웍스보통주  2015/08/24     95570  32,400
2  AJ네트웍스보통주  2015/08/25     95570  31,100
3  AJ네트웍스보통주  2015/08/26     95570  35,450
4  AJ네트웍스보통주  2015/08/27     95570  37,850

In [17]:
final_df.head()

   회사명_d1  stock_code  공모가 (원)
0  엠앤씨솔루션      484870  65000.0
1   더본코리아      475560  34000.0
2  전진건설로봇       79900  16500.0
3    산일전기       62040  35000.0
4    시프트업      462870  60000.0

In [19]:
df3 = pd.read_csv('C:/Users/Admin/Documents/GitHub/UbionProject1_IPO/Trash/stock_no_specs.csv')

In [20]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 670 entries, 0 to 669
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   회사명          670 non-null    object
 1   종목코드         670 non-null    int64
 2   상장일          670 non-null    object
 3   상장유형         670 non-null    object
 4   증권구분         670 non-null    object
 5   업종           669 non-null    object
 6   국적           670 non-null    object
 7   상장주선인        670 non-null    object
 8   액면가 (원)      670 non-null    object
 9   공모가 (원)      670 non-null    object
 10  공모금액 (천원)    670 non-null    object
 11  주요제품         666 non-null    object
 12  최초상장주식수 (주)  670 non-null    object
dtypes: int64(1), object(12)
memory usage: 68.2+ KB

In [22]:
df4 = pd.read_csv('C:/Users/Admin/Documents/GitHub/UbionProject1_IPO/Trash/spec.csv')

In [24]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288 entries, 0 to 287
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   회사명          288 non-null    object
 1   종목코드         288 non-null    int64
 2   상장일          288 non-null    object
 3   상장유형         288 non-null    object
 4   증권구분         288 non-null    object
 5   업종           288 non-null    object
 6   국적           288 non-null    object
 7   상장주선인        288 non-null    object
 8   액면가 (원)      288 non-null    int64
 9   공모가 (원)      288 non-null    object
 10  공모금액 (천원)    288 non-null    object
 11  주요제품         276 non-null    object
 12  최초상장주식수 (주)  288 non-null    object
dtypes: int64(2), object(11)
memory usage: 29.4+ KB

In [25]:
merged_df = merged_df[~merged_df['회사명'].isin(df4['회사명'])]

In [26]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1043422 entries, 0 to 903426
Data columns (total 4 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   회사명       1043422 non-null  object
 1   회계년도      1043422 non-null  object
 2   종목코드(축약)  1043422 non-null  int64
 3   종가(원)     1043422 non-null  object
dtypes: int64(1), object(3)
memory usage: 39.8+ MB

In [29]:
merged_df[merged_df['회사명'].str.contains('스팩', na=False)]

Empty DataFrame
Columns: [회사명, 회계년도, 종목코드(축약), 종가(원)]
Index: []

In [32]:
merged_df.to_csv('1.csv')

In [33]:
merged_df = merged_df[~merged_df['회사명'].str.contains('인수목적', na=False)]

In [34]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 954858 entries, 0 to 903426
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   회사명       954858 non-null  object
 1   회계년도      954858 non-null  object
 2   종목코드(축약)  954858 non-null  int64
 3   종가(원)     954858 non-null  object
dtypes: int64(1), object(3)
memory usage: 36.4+ MB

In [36]:
merged_df['회사명'] = merged_df['회사명'].str.replace('보통주', '', regex=False).str.strip()

C:\Users\Admin\AppData\Local\Temp\ipykernel_2452\2898489943.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df['회사명'] = merged_df['회사명'].str.replace('보통주', '', regex=False).str.strip()

In [39]:
len(merged_df['회사명'].unique())

794

In [40]:
spac_to_remove = ['케이프이에스제4호', '엔에이치스펙5호', '하나금융7호SPAC', '코디엠', '한국자산신탁',
                  '미래에셋생명', '코리아에셋투자증권', '미래에셋벤처투자', '윙입푸드',
                  '아주IB투자', '나우아이비캐피탈', '카카오뱅크', '아이엔지생명']

merged_df = merged_df[~merged_df['회사명'].isin(spac_to_remove)]

In [41]:
len(merged_df['회사명'].unique())

789

In [42]:
missing_companies = final_df[~final_df['회사명_d1'].isin(merged_df['회사명'])]
missing_companies

        회사명_d1  stock_code   공모가 (원)
5    HD현대마린솔루션      443060   83400.0
18       현대중공업      329180   60000.0
26   SK바이오사이언스      302440   65000.0
31         빅히트      352820  135000.0
33       센트랄모텍      308170    6000.0
..         ...         ...       ...
649       에스엔텍      160600    6500.0
650       코아스템      166480   16000.0
651     세미콘라이트      214310   11300.0
654      제노포커스      187420   11000.0
655       유지인트      195990   15000.0

[128 rows x 3 columns]

In [50]:
final_df['회사명_d1']

0      엠앤씨솔루션
1       더본코리아
2      전진건설로봇
3        산일전기
4        시프트업
        ...
652      싸이맥스
653     픽셀플러스
654     제노포커스
655      유지인트
656      포시에스
Name: 회사명_d1, Length: 657, dtype: object

In [46]:
merged_df[merged_df['종목코드(축약)'] == 302440]

               회사명        회계년도  종목코드(축약)    종가(원)
73727  에스케이바이오사이언스  2021/03/18    302440  169,000
73728  에스케이바이오사이언스  2021/03/19    302440  166,500
73729  에스케이바이오사이언스  2021/03/22    302440  144,000
73730  에스케이바이오사이언스  2021/03/23    302440  140,500
73731  에스케이바이오사이언스  2021/03/24    302440  136,500
...            ...         ...       ...      ...
74655  에스케이바이오사이언스  2024/12/23    302440   52,500
74656  에스케이바이오사이언스  2024/12/24    302440   50,300
74657  에스케이바이오사이언스  2024/12/26    302440   49,250
74658  에스케이바이오사이언스  2024/12/27    302440   49,950
74659  에스케이바이오사이언스  2024/12/30    302440   50,400

[933 rows x 4 columns]

In [47]:
result_df = pd.merge(final_df, merged_df, left_on='stock_code', right_on='종목코드(축약)', how='inner')

In [48]:
result_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 743628 entries, 0 to 743627
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   회사명_d1      743628 non-null  object
 1   stock_code  743628 non-null  int64
 2   공모가 (원)     743628 non-null  float64
 3   회사명         743628 non-null  object
 4   회계년도        743628 non-null  object
 5   종목코드(축약)    743628 non-null  int64
 6   종가(원)       743628 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 39.7+ MB

In [49]:
len(result_df['회사명'].unique())

657

In [51]:
# 1. 특정 컬럼 삭제
result_df = result_df.drop(columns=['회사명', 'stock_code', '종목코드(축약)'])

# 2. 컬럼명 변경
result_df = result_df.rename(columns={'회사명_d1': '회사명'})

In [52]:
result_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 743628 entries, 0 to 743627
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   회사명      743628 non-null  object
 1   공모가 (원)  743628 non-null  float64
 2   회계년도     743628 non-null  object
 3   종가(원)    743628 non-null  object
dtypes: float64(1), object(3)
memory usage: 22.7+ MB

In [53]:
len(result_df['회사명'].unique())

657

In [55]:
result_df.head()

      회사명  공모가 (원)        회계년도   종가(원)
0  엠앤씨솔루션  65000.0  2024/12/16  51,800
1  엠앤씨솔루션  65000.0  2024/12/17  52,800
2  엠앤씨솔루션  65000.0  2024/12/18  52,900
3  엠앤씨솔루션  65000.0  2024/12/19  54,000
4  엠앤씨솔루션  65000.0  2024/12/20  49,700

In [56]:
result_df.to_csv('종가_공모가_데이터.csv')